<div class="view-mode message-view-list-wrapper">
  <ng-container *ngIf="!isLoading; else loadingSkeleton">
    <ng-container
      *ngIf="messageList?.length > 0;
        else noItem">
      <div
        infiniteScroll
        [scrollWindow]="false"
        [infiniteScrollUp]="true"
        [infiniteScrollUpDistance]="0"
        [infiniteScrollDistance]="0"
        [infiniteScrollThrottle]="300"
        [immediateCheck]="true"
        [alwaysCallback]="true"
        (scrolledUp)="onScrollToTop()"
        (scrolled)="onScrollToBottom()"
        #infiniteScrollIndex
        class="message-list-wrapper">
        <div #infiniteScrollView>
          <div
            *ngIf="showSpinnerTop && !isError"
            class="message-row loading-spinner loading-spinner-top">
            <img lazy="true" src="assets/images/loading-spinner.gif" />
          </div>
          <app-message-groups
            [items]="messageList"
            [listItemsTemplate]="messageOutlet"
            [totalItems]="totalMessage"
            [groupField]="'messageDate'">
          </app-message-groups>
          <ng-template #messageOutlet let-itemsInGroup="itemsInGroup">
            <ng-container
              *rxFor="let message of itemsInGroup; trackBy: trackByMessage;">
              @if(message.isLoading) {
              <div class="message-wrapper">
                <div class="message-row-wrapper">
                  <div class="d-flex flex-dir-column gap-8 m-12">
                    <div class="quote-wrapper">
                      <nz-skeleton
                        [nzParagraph]="paragraph"
                        [style.width.px]="113"
                        [nzActive]="true"></nz-skeleton>
                    </div>
                    <div class="quote-wrapper">
                      <nz-skeleton
                        [nzParagraph]="paragraph"
                        [nzActive]="true"></nz-skeleton>
                    </div>
                    <div class="quote-wrapper">
                      <nz-skeleton
                        [nzParagraph]="paragraph"
                        [nzActive]="true"></nz-skeleton>
                    </div>
                    <div class="quote-wrapper">
                      <nz-skeleton
                        [nzParagraph]="paragraph"
                        [nzActive]="true"></nz-skeleton>
                    </div>
                  </div>
                </div>
              </div>
              } @else {
              <div
                [attr.data-conversation-id]="message.conversations?.[0]?.id ?? message.conversationId"
                [attr.data-task-id]="message.id"
                id="auto-scroll-item"
                class="message-row">
                <sms-message-item
                  [currentUserId]="currentUser.id"
                  [isRmEnvironment]="isRmEnvironment"
                  [participants]="message.conversations[0].participants"
                  [message]="message"
                  [search]="searchText"
                  [queryTaskId]="queryTaskId"
                  [conversationId]="queryConversationId"
                  [index]="message.originIndex"
                  [activeMsgList]="activeMsgList"
                  [dataFormat]="dataFormat"
                  [(checked)]="message.isSelected"
                  [isDraft]="message.conversations[0].isDraft && message.conversations[0].isScratchDraft"
                  [isLastMessageDraft]="message.conversations[0].isLastMessageDraft"
                  (setItem)="setItem(message?.id, message.conversationId)"
                  (pressShiftClick)="handleSelectedMsg($event)"
                  (removeActiveMsg)="handleRemoveActiveMsg($event)"
                  (addSelectedMsg)="handleAddSelectedMsg($event)"
                  (activeMessage)="handleActiveMessage($event)"
                  (menuChange)="handleMenuChange($event)"
                  (navigateToNextMessage)="handleNavigateNextMessage()"
                  (navigateToPreviousMessage)="handleNavigatePreMessage()"></sms-message-item>
              </div>
              }
            </ng-container>
          </ng-template>
          <div
            *ngIf="showSpinnerBottom && !isError"
            class="message-row loading-spinner">
            <img lazy="true" src="assets/images/loading-spinner.gif" />
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loadingSkeleton>
  <div class="message-list-wrapper message-skeleton">
    <ng-container
      *ngTemplateOutlet="skeletonLoadingItem; context: {rowNumber: 20}">
    </ng-container>
  </div>
</ng-template>

<ng-template #skeletonLoadingItem let-row="rowNumber">
  @for (_ of [].constructor(row); track i; let i = $index) {
  <div class="message-wrapper">
    <div class="message-row-wrapper">
      <div class="d-flex flex-dir-column gap-8">
        <div class="quote-wrapper">
          <nz-skeleton
            [nzParagraph]="paragraph"
            [style.width.px]="113"
            [nzActive]="true"></nz-skeleton>
        </div>
        <div class="quote-wrapper">
          <nz-skeleton
            [nzParagraph]="paragraph"
            [nzActive]="true"></nz-skeleton>
        </div>
        <div class="quote-wrapper">
          <nz-skeleton
            [nzParagraph]="paragraph"
            [nzActive]="true"></nz-skeleton>
        </div>
        <div class="quote-wrapper">
          <nz-skeleton
            [nzParagraph]="paragraph"
            [nzActive]="true"></nz-skeleton>
        </div>
      </div>
    </div>
  </div>
  }
</ng-template>

<ng-template #noItem>
  <div class="list-wrapper">
    <ng-container
      [ngTemplateOutlet]="((isFocusView) && (teamMembersInMailBox > 1) && !hasFilter)
        ? noMyMessageTemplate
        : noTeamMessageTemplate"></ng-container>
    <ng-template #noTeamMessageTemplate>
      <div *ngIf="searchText || countSelected > 0" class="no-message">
        <trudi-icon icon="noConversationsV2"></trudi-icon>
        <div class="no-message__text">None to display</div>
      </div>
      <div *ngIf="!searchText || countSelected === 0" class="no-message">
        <container-element
          [ngSwitch]="queryParams[EMessageQueryType.MESSAGE_STATUS]">
          <empty-focused-view-page
            *ngSwitchDefault
            [message]="emptyTitle"
            [noFocusView]="true"></empty-focused-view-page>
          <empty-focused-view-page
            *ngSwitchCase="messagesStatusType.completed"
            message="No resolved SMS messages to display"
            [noFocusView]="true"></empty-focused-view-page>
        </container-element>
      </div>
    </ng-template>

    <ng-template #noMyMessageTemplate>
      <container-element
        [ngSwitch]="queryParams[EMessageQueryType.MESSAGE_STATUS]">
        <empty-focused-view-page
          *ngSwitchDefault
          class="empty-app-message"
          message="You've resolved all SMS messages assigned to you."
          subMessage="To view SMS messages assigned to other team members"></empty-focused-view-page>
        <empty-focused-view-page
          *ngSwitchCase="messagesStatusType.completed"
          message="There are no resolved SMS messages assigned to you"
          subMessage="To view all resolved messages, please"></empty-focused-view-page>
      </container-element>
    </ng-template>
  </div>
</ng-template>

<trudi-modal
  *ngIf="isShowModalWarning"
  [visible]="isShowModalWarning"
  [autoFocus]="null"
  [modelWidth]="510"
  className="trudi-modal-custom">
  <warning-note-popup
    [warningMessage]="errorMessage"
    [timeToCloseModal]="3000"
    (isCloseModal)="isShowModalWarning = $event">
  </warning-note-popup>
</trudi-modal>

<trudi-modal
  *ngIf="confirmResolveSms"
  [visible]="confirmResolveSms"
  [autoFocus]="null"
  [modelWidth]="470"
  [closable]="false"
  title="Are you sure you want to resolve this message?"
  subTitle="To satisfy spam legislation, only the customer can re-open an SMS conversation once it has been resolved."
  className="confirm-resolve-sms"
  (onCancel)="handleCancelModal()"
  (onOk)="handleConfirmResolveSms()">
</trudi-modal>
