<trudi-suggested-step-group
  *ngIf="listWidgetLeases?.length"
  groupTitle="LEASE RENEWAL"
  class="mb-0">
  <ng-container>
    <ng-container *ngFor="let item of listWidgetLeases | slice:0:1">
      <div class="mt-4">
        <ng-container *ngIf="item">
          <widget-common
            [type]="item.status"
            [firstTimeSyncSuccess]="item?.firstTimeSyncSuccess"
            [externalError]="item?.externalError"
            (retry)="handleRetryWidget(item)"
            (remove)="handleRemoveWidget()"
            (showModal)="handleOpenModal(item)"
            [isDislayBtnCancel]="item.isSuccessful">
            <div class="lease-renewal-sync-warpper">
              <div class="d-flex align-items-center">
                <span class="lease-renewal-sync-label">Tenant</span>
                <span class="lease-renewal-sync-name name-tenant">
                  {{item.userPropertyGroup.name}}
                </span>
              </div>
              <div class="d-flex align-items-center">
                <span class="lease-renewal-sync-label">Duration</span>
                <span class="lease-renewal-sync-name">
                  {{ item.startDate | formatDate | push }}{{item?.endDate && ' -
                  ' + (item?.endDate | formatDate | push )}}
                </span>
              </div>
              <div class="gap-4 d-flex flex-dir-column">
                <ng-container
                  *ngFor="let recurringChargeKey of ChargeTypekeyGroup">
                  <div class="charge-wrapper">
                    <div class="d-flex align-items-center">
                      <span class="lease-renewal-sync-label">Charge type</span>
                      <span class="lease-renewal-sync-name">
                        {{recurringChargeKey}}
                      </span>
                    </div>
                    <div class="d-flex">
                      <span class="lease-renewal-sync-label">Amount</span>
                      <div class="gap-4 d-flex flex-dir-column">
                        <ng-container
                          *ngFor="let data of ChargeTypeGroup[recurringChargeKey]">
                          <span
                            class="lease-renewal-sync-name gap-4 d-flex flex-dir-column">
                            <div class="amount-wrapper gap-4">
                              ${{data.amount || 0}} per {{item?.frequency |
                              lowercase}}
                              <div
                                class="badge"
                                nz-tooltip
                                [nzTooltipTitle]="data?.chargeType?.description">
                                {{data.chargeType?.name}}
                              </div>
                            </div>
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </widget-common>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</trudi-suggested-step-group>
