.assign-owner-popup {
    .title {
        font-size: 18px;
    }
    .btn-wrapper {
        margin-top: 14px;
    }
    .btn-cancel {
        background-color: var(--white);
        border: 1px solid var(--border-neutral-dark);
    }
}