<div class="y-center justify-content-center not-found-wrapper">
  <div class="y-center flex-dir-column">
    <div>
      <trudi-icon icon="illus404"></trudi-icon>
    </div>
    <div class="not-found">
      <p class="not-found-title text-center">Ooops!</p>
      <p class="not-found-sub text-center">
        We can't seem to find the page you're looking for.
      </p>
    </div>
    <div>
      <button
        trudi-btn
        size="extra-large"
        variant="tonal"
        btnType="neutral"
        class="y-center justify-content-center gap-8"
        (click)="goToMyInBox()">
        <span class="btn-go-content">Go to my inbox</span>
        <trudi-icon icon="chevronRight"></trudi-icon>
      </button>
    </div>
  </div>
</div>
