@import 'function';

.agency-logo-wrapper {
  img[src=''] {
    display: none;
  }
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 14px 16px 14px;
    .trudi-avatar {
      width: 33.95px;
    }
    .title-text {
      &__main {
        @include fontSetup(var(--gray-700), 18px, 28px, normal, 600);
      }

      &__sub {
        @include fontSetup(var(--fg-neutral-normal), 14px, 20px, normal, 500);

        & a {
          color: var(--fg-hyperlink);
          text-decoration: underline;
          &:focus-visible {
            border: 2px solid var(--brand-500);
          }
        }
      }
    }
    .close-btn {
      margin-left: auto;
      cursor: pointer;
      margin-right: 12.8px;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .agency-avatar {
    padding: 80px 222px;
    @include FlbMiddleAll;
    img {
      width: 180px;
      height: 180px;
      min-width: 180px;
      min-height: 180px;
      border-radius: 8px;
    }
  }

  .action-button {
    border-radius: 8px;
    @include FlbMiddleAll;
    cursor: pointer;
  }

  .button-margin {
    margin: 20px 42px 42px 42px;

    &-croppie {
      margin-top: 82.57px;
    }
  }

  .error-msg {
    @include fontSetup(var(--danger-500), 12px, 16px, normal, 400);
    @include FlbMiddleAll;
    gap: 4.67px;
    &-margin {
      margin: 12px 132.5px 20px 133.17px;
    }
    & .warning-icon {
      width: 14.67px;
    }
  }

  .remove-button {
    padding: 10px 85.25px 10px 87.62px;
    gap: 10.37px;
    border: none;
  }

  .change-button-m {
    padding: 10px 87.25px 10px 89.65px;
    gap: 11.29px;
    border: none !important;
  }

  .remove-button-m {
    padding: 10px 55.25px 10px 56.42px;
    gap: 10.37px;
  }

  .cancel-button-m {
    padding: 10px 70.25px;
  }

  .cancel-button-l {
    padding: 10px 103.25px;
    &:focus-visible {
      border: none !important;
    }
  }

  .change-button-l {
    padding: 10px 220px 10px 222.4px;
    gap: 11.29px;
    border: none;
  }

  .save-button {
    padding: 10px 110.25px;
    border: none;
    &:focus-visible {
      box-shadow: inset 0px 0px 0px 1px var(--brand-500),
        0px 0px 0px 2px rgba(var(--brand-500-rgb), 0.6);
    }
  }

  .primary {
    background-color: var(--bg-brand-solid-normal);
    @include fontSetup(var(--white), 14px, 20px, normal, 600);

    &:hover {
      background-color: var(--bg-brand-solid-stronger);
    }

    &:active {
      background-color: var(--bg-brand-solid-strongest);
    }

    &:disabled {
      background-color: var(--bg-brand-tonal-strongest);
    }
  }

  .secondary {
    background-color: var(--bg-brand-tonal-normal);
    @include fontSetup(var(--fg-brand), 14px, 20px, normal, 600);

    &:hover {
      background-color: var(--bg-brand-tonal-stronger);
    }

    &:active {
      background-color: --bg-brand-tonal-strongest;
    }
  }

  .tertiary {
    background-color: var(--white);
    border: 1px solid var(--border-neutral-dark);
    @include fontSetup(var(--fg-neutral-normal), 14px, 20px, normal, 600);

    &:hover {
      background-color: var(--bg-neutral-tonal-stronger);
    }

    &:active {
      background-color: var(--bg-neutral-tonal-strongest);
    }
  }

  .danger {
    background-color: var(--bg-danger-solid-normal);
    @include fontSetup(var(--white), 14px, 20px, normal, 600);

    &:hover {
      background-color: var(--bg-danger-solid-stronger);
    }

    &:active {
      background-color: var(--bg-danger-solid-strongest);
    }
  }

  .body {
    margin: 11px auto 0px auto;
    padding-bottom: 79px;
    .picture-wrapper {
      position: relative;
      width: 310px;
      height: 260px;
      background-color: var(--white);
      .upload-button {
        position: absolute;
        top: 20px;
        right: 50px;
        padding: 11px;
        cursor: pointer;
        z-index: 9999;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: var(--white);

        img {
          max-width: none;
        }
      }

      .drag-button {
        position: absolute;
        bottom: 6px;
        right: 80px;
        z-index: 9999;
        cursor: default;
        padding: 4px 12px;
        background: var(--white);
        border-radius: 8px;
        .drag-text {
          user-select: none;
          margin-left: 7px;
          @include fontSetup(var(--fg-brand), 12px, 20px, normal, 600);
        }
      }

      .slider-wrapper {
        gap: 14px;
        margin-top: 34px;
        .minus-button,
        .plus-button {
          cursor: pointer;
          border: none;
          background-color: transparent;
        }

        input {
          visibility: hidden;
        }
      }
    }
  }

  .button-wrapper {
    @include FlbMiddleAll;
    gap: 12px;
  }
}

image-cropper::ng-deep {
  padding: 0;
  width: 100%;
  height: 100%;
  .ngx-ic-overlay,
  .ngx-ic-cropper {
    pointer-events: none;
    top: 30px !important;
    left: 60px !important;
    margin-left: 0 !important;
    &::after {
      border: none !important;
    }
  }
  .ngx-ic-source-image {
    object-fit: inherit;
    visibility: visible !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}

#croppie {
  width: 310px;
  height: 260px;
  margin: 0 auto;
}

#agencyLogo {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
