<app-modal-popup
  *ngIf="isShowQuitConfirmModal"
  [show]="isShowQuitConfirmModal"
  [position]="ModalPopupPosition.center"
  [specificWidth]="510">
  <confirm-popup
    [iconUrl]="'/assets/icon/icon-warning-red.svg'"
    [backgroundRightBtn]="'var(--danger-500)'"
    [titleText]="'Are you sure you want to ' + (showBtnNewTask || this.taskService.currentTask$?.value?.taskType === TaskType.TASK ? 'cancel this task?' : 'delete this message?')"
    [subTexts]="[]"
    [buttonLeft]="(showBtnNewTask || this.taskService.currentTask$?.value?.taskType === TaskType.TASK ? 'No, keep it' : 'Cancel')"
    [buttonRight]="(showBtnNewTask || this.taskService.currentTask$?.value?.taskType === TaskType.TASK ? 'Yes, cancel' : 'Delete')"
    btnType="danger"
    (onButtonLeftClick)="isShowQuitConfirmModal = false"
    (onButtonRightClick)="deleteTask($event)">
    >
  </confirm-popup>
</app-modal-popup>

<app-modal-popup
  *ngIf="editLeadTitle"
  [show]="editLeadTitle"
  [position]="ModalPopupPosition.center">
  <popup-layout
    [dividerBottom]="false"
    (whenCancel)="onCancelOfPopupPressed()"
    [disabledRightButton]="taskMode === 'edit' ? isEditPopup : !taskNameCreateForm.valid"
    (whenConfirmed)="taskMode === 'edit' ? onConfirmEdit() : onConfirmCreate()"
    (whenClosed)="onClose()"
    headerText="Change task type"
    logoSvgSegmentId="#trudi-default-logo"
    [leftButtonText]="taskMode === 'edit' ? '' : 'Go Back'">
    <!-- [headerText]="'Let’s ' + (taskMode === 'edit' ? 'edit the name of this task' : 'create a new task name ')" -->
    <ng-container *ngIf="taskMode === 'edit'; else createMode">
      <div class="search-box" id="task-select">
        <div class="small-label">Select task name</div>
        <ng-select
          [items]="taskNameList"
          [(ngModel)]="selectedTask"
          (change)="onTaskSelectChanged($event)"
          bindValue="value"
          bindLabel="label"
          groupBy="group"
          (search)="searchNotFound()"
          (close)="this.isEditPopup = false"
          [searchable]="true"
          [clearable]="true"
          [virtualScroll]="true"
          [compareWith]="compareFn"
          [editableSearchTerm]="true">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <span
              [ngOptionHighlight]="search ? search : ''"
              [title]="item.label"
              >{{item.label}}</span
            >
          </ng-template>
        </ng-select>
      </div>
      <div class="cc-text hide">
        Can’t see a suitable name?
        <span (click)="onOpenCreateMode()" class="create-func"
          >Create a new task name
        </span>
      </div>
    </ng-container>
    <ng-template #createMode>
      <div class="create-form" [formGroup]="taskNameCreateForm">
        <div class="small-label">Select Topic</div>
        <ng-select
          formControlName="topicId"
          [items]="selectTopicItems"
          class="underline-box"
          bindLabel="name"
          bindValue="id"
          [searchable]="false"
          [clearable]="true"></ng-select>
        <div class="small-label">Task Name</div>
        <input
          formControlName="taskName"
          type="text"
          class="input input-underline"
          maxlength="30" />
        <div
          class="text-noti d-flex justify-content-between"
          [ngClass]="{'justify-content-end': !isAddDuplicate}">
          <div
            *ngIf="isAddDuplicate"
            class="duplicate-noti d-flex align-items-center">
            <img src="/assets/images/icons/error-bg-red.svg" alt="error" />
            <span>The task name has existed</span>
          </div>
          <div class="down-right-text">
            <app-remaining-character
              [maxlength]="30"
              [currentTextLength]="getTaskNameOnCreate?.length"></app-remaining-character>
          </div>
        </div>
      </div>
    </ng-template>
  </popup-layout>
</app-modal-popup>

<trudi-modal
  *ngIf="isShowMoveConversation"
  [visible]="isShowMoveConversation"
  [autoFocus]="null"
  className="trudi-modal-custom">
  <app-move-mess-to-different-task
    [show]="isShowMoveConversation"
    [isUnHappyPath]="isUnHappyPath"
    [conversationId]="targetConvId"
    (isQuitModal)="isShowMoveConversation = false"></app-move-mess-to-different-task>
</trudi-modal>

<invite-team-members
  *ngIf="isOpenInviteModal"
  [show]="isOpenInviteModal"
  (onClose)="handleCloseInviteModal()"
  (onSubmit)="onInviteTeamMember($event)"></invite-team-members>

<div class="appbar-wrapper d-flex align-items-center">
  <div class="content-left d-flex align-items-center gap-6">
    <div
      *ngIf="!showBtnNewMessage && !showBtnNewTask && currentTask"
      (click)="onBack()"
      class="back-btn cursor-pointer d-flex align-items-center justify-content-center">
      <img src="/assets/icon/icon-arrow-back.svg" alt="" />
    </div>
    <div class="title-wrapper d-flex align-items-center">
      <!-- <img class="icon_warning" *ngIf="!currentTask?.unhappyStatus?.isConfirmContactUser" src="/assets/icon/icon-warning-orange.svg" alt="warning"> -->
      <div class="title" data-e2e="task-name">{{title}}</div>
      <div class="region-badge" *ngIf="currentTask && !!stateCurrentTask">
        {{stateCurrentTask}}
      </div>
    </div>
    <div
      *ngIf="currentTask"
      class="status-wrapper"
      [ngClass]="currentTask.status | lowercase">
      <div *ngIf="currentTask.taskType === TaskType.TASK" class="status">
        {{currentTask.status === taskStatus.inprogress ? ('In progress') :
        currentTask.status | titlecase}}
      </div>
      <div *ngIf="currentTask.taskType === TaskType.MESSAGE" class="status">
        {{(currentTask.status === taskStatus.completed) ?
        (TaskStatusTypeLC.resolved | titlecase) : (currentTask.status ===
        taskStatus.inprogress ? ('In progress'):currentTask.status |
        titlecase)}}
      </div>
    </div>
    <div
      *ngIf="currentTask && currentTask.taskType === TaskType.MESSAGE"
      class="vertical-line"></div>
    <assign-to-agents
      *ngIf="currentTask && currentTask.taskType === TaskType.MESSAGE"
      [displayText]="'Assign'"
      [ngClass]="{'disable-button border-rad-full': currentTaskDeleted}"
      [agents]="(taskService.currentTask$ | async)?.assignToAgents"
      [task]="taskService.currentTask$ | async">
    </assign-to-agents>
  </div>

  <div class="navigation-block">
    <div
      *ngIf=" (currentTask && (isDetailPage || showBtnNewMessage || showBtnNewTask))"
      class="btn-task-wrapper d-flex align-items-center">
      <div
        class="trudi-btn trudi-btn-large-square trudi-btn-tertiary"
        (click)="onClickBtn()"
        style="width: 40px; height: 40px"
        nz-tooltip
        [nzTooltipTitle]="tooltipText"
        nzTooltipPlacement="bottom">
        <img [src]="iconURL" alt="icon" />
      </div>
      <div
        *ngIf="currentTask?.taskType === TaskType.MESSAGE"
        class="trudi-btn trudi-btn-large-square trudi-btn-tertiary"
        style="width: 40px; height: 40px"
        (click)="onForwardEmail()"
        nz-tooltip
        nzTooltipTitle="Forward via email"
        nzTooltipPlacement="bottom">
        <img src="/assets/icon/mail-icon.svg" class="mail-icon" alt="icon" />
      </div>
      <div
        *ngIf="(currentStatus !== TaskStatusTypeLC.deleted)"
        class="trudi-btn trudi-btn-large-square trudi-btn-tertiary pd-fix"
        (click)="onDeleteTask()"
        style="width: 40px; height: 40px"
        nz-tooltip
        [nzTooltipTitle]="showBtnNewTask ? 'Cancel' : 'Delete'"
        nzTooltipPlacement="bottom">
        <img
          [src]="showBtnNewTask ? '/assets/icon/close-outline.svg' : '/assets/icon/trash-icon.svg'"
          alt="icon" />
      </div>
    </div>
    <div
      *ngIf="isAgencyAdmin && isTeamPage || isAdmin && isTeamPage"
      class="d-flex align-items-center">
      <div
        class="trudi-btn trudi-btn-primary trudi-btn-large vertical-line"
        (click)="handleOpenInviteModal()">
        Invite
      </div>
      <div class="divider-invite"></div>
    </div>

    <div class="normal-spacing">
      <div
        class="user-avatar cursor-pointer"
        *ngIf="userInfo?.googleAvatar !== ''; else noImage"
        (click)="handleClickUserAvatar()"
        [menuTrigger]="options"
        #menu="menu">
        <img [src]="userInfo?.googleAvatar" alt="" data-e2e="avatar-button" />
      </div>
    </div>
    <ng-template #noImage>
      <div class="user-avatar loading"></div>
    </ng-template>
  </div>

  <ng-template #options>
    <div class="menu-options profile-menu">
      <div
        *ngIf="isLead"
        class="item d-flex align-items-center"
        ripple
        (click)="handleNavigateToUserProfile()"
        data-e2e="profile-button">
        <img src="/assets/icon/user-gray-outline.svg" alt="profile-settings" />
        <span class="item-text"> Profile Settings </span>
      </div>
      <ng-container
        *ngIf="userInfo.type === UserType.AGENT || userInfo.type === UserType.ADMIN || userInfo.type === UserType.SUPERVISOR">
        <div
          class="item d-flex align-items-center"
          ripple
          (click)="handleNavigateToConsoleSetting()"
          data-e2e="console-button">
          <img src="/assets/icon/settings-gray-outline.svg" alt="setting" />
          <span class="item-text"> Console Settings </span>
        </div>
      </ng-container>
      <div
        class="item d-flex align-items-center"
        (click)="handleNavigateToHelpCentre()">
        <img src="/assets/icon/help.svg" alt="help" />
        <span class="item-text"> Help Centre </span>
      </div>
      <div
        class="item d-flex align-items-center"
        (click)="logout()"
        ripple
        data-e2e="logout-button">
        <img src="/assets/icon/logout-gray-icon.svg" alt="trash" />
        <span class="item-text"> Logout </span>
      </div>
    </div>
  </ng-template>
</div>
