@import 'function';

.team-deactive {
  padding: 14px;
  padding-bottom: 10px;
  .bold-text {
    @include fontSetup(var(--gray-700), 18px, 28px, normal, 600);
    margin: 0 0 8px;
  }

  .grey-text {
    @include fontSetup(var(--fg-neutral-normal), 14px, 20px, normal, 500);
    ul {
      padding-left: 25px;
      li {
        @include fontSetup(var(--fg-neutral-normal), 1.4rem, 20px, normal, 500);
      }
    }
  }

  .btn-wrapper {
    margin-top: 20px;
  }
}
