@import 'function';

:host ::ng-deep ng-select {
  &.ng-select {
    &.ng-select-multiple {
      .ng-select-container {
        .ng-value-container {
          padding: 0;
          gap: 8px;
          max-height: 116px;

          .ng-value {
            padding: 0;
            margin: 0;
            background: var(--white) !important;
            border-radius: 8px;
            border: 1px solid var(--gray-200);

            .select-item {
              padding: 6px 8px;
              .overflow-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
              }
            }
          }

          .ng-placeholder {
            top: 12px;
            padding: 0;
          }

          .ng-input {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;

            & > input {
              @include fontSetup(
                var(--gray-700) !important,
                14px,
                20px,
                normal,
                500
              );
            }
          }
        }
      }
      &.ng-valid,
      &.ng-dirty,
      &.ng-touched {
        &.input-error-select {
          .ng-select-container {
            border-radius: 8px !important;
            @include box-shadow-input-select(var(--shadow-danger));
            margin-bottom: 0;
          }
        }
      }

      & .clear-btn {
        cursor: pointer;
        border: none;
        padding: 0;
        &[focusable]:focus-visible {
          border-radius: 8px;
          border: 1px solid var(--brand-500);
          box-shadow: 0px 0px 0px 1px var(--bg-brand-tonal-strongest) !important;
        }
        @include fontSetup(
          var(--fg-neutral-stronger, #3d3d3d),
          12px,
          16px,
          normal,
          500
        );
        background-color: var(--white);
      }

      & .count-text {
        @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, normal, 400);
      }
    }
    .ng-select-container {
      margin-bottom: 0;
      padding: 12px;
      border-radius: 8px;
      max-height: 128px;
      overflow-y: auto;
      background: var(--gray-200);
      align-items: flex-start;
      &.ng-has-value {
        align-items: center;
      }
      .ng-arrow-wrapper {
        display: none;
      }
    }
    &.ng-select-opened.ng-select-bottom > .ng-select-container {
      border-radius: 8px;
      background: var(--white);
    }

    &.ng-select-single .ng-select-container {
      height: 44px;
    }
  }
  &.hide-last-child {
    .ng-dropdown-panel {
      &.ng-select-bottom {
        .ng-dropdown-panel-items {
          .ng-option:last-child {
            display: block;
          }
        }
      }
    }
  }
  &:has(.isAddItem).hide-last-child {
    .ng-dropdown-panel {
      &.ng-select-bottom {
        .ng-dropdown-panel-items {
          .ng-option:last-child {
            display: none;
          }
        }
      }
    }
  }

  .ng-option,
  .ng-select-container {
    .select-item {
      &__from {
        @include fontSetup(var(--gray-400), 14px, 20px, normal, 600);
      }
      &-remove {
        padding: 5px 0 5px 5px;
      }
      &__info {
        @include fontSetup(var(--gray-700), 14px, 20px, normal, 500);
        div {
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .avatar {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          margin-right: 4px;
        }

        .avatar-trudi {
          background: var(--white);
        }

        .small-circle {
          width: 3px;
          height: 3px;
          display: inline-block;
          border-radius: 100%;
          margin: 0 5px;
          margin-bottom: 2px;
          background-color: var(--gray-950);
        }

        .select-item {
          &__title {
            @include fontSetup(var(--gray-500), 14px, 20px, normal, 500);
            &.item-checked {
              color: var(--gray-700);
            }
          }
        }

        .user-type {
          @include fontSetup(var(--gray-400), 14px, 20px, normal, 400);
        }

        &--invalid {
          color: var(--danger-500);
        }
      }
    }
  }

  .ng-option-disabled {
    &.ng-optgroup {
      background-color: var(--gray-200);
      .header-group {
        @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, normal, 600);
      }
    }
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        &:hover {
          box-shadow: inset 0px -1px 0px var(--gray-200);
        }
        & .highlighted {
          background: var(--tenant-500);
          color: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          text-decoration: inherit !important;
        }
      }
      .overflow-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 580px;
      }
    }

    &.ng-select-bottom {
      border-radius: 8px !important;
      overflow: hidden;
    }
  }
  .border-item.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
  .ng-optgroup {
    box-shadow: unset;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:not(:last-child) {
    box-shadow: inset 0px -1px 0px var(--gray-200);
  }
}

input[type='checkbox'] {
  width: 0px;
  margin-right: 25px;
}

.visible-checkbox-in-safari {
  cursor: pointer;
  visibility: hidden;
  &::before {
    visibility: visible;
  }
}

input[type='checkbox']:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid var(--gray-200);
  text-align: center;
  background-color: var(--white);
}

input[type='checkbox']:checked:before {
  background-image: url('/assets/icon/checkbox-on.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  background-color: var(--brand-500);
  border: none;
}

:host .select-wrapper {
  position: relative;

  .pseudo-input {
    @include fontSetup(var(--fg-neutral-weaker), 14px, 20px, normal, 400);
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    left: 12px;
    z-index: 1001;
    width: fit-content;
    &.has-value {
      top: 12px;
    }
  }
  // ::ng-deep {
  //   .ng-select-container .ng-value-container{
  //     padding-left: 31px !important;
  //   }
  // }
}

.hover-template {
  max-width: 264px;
}

.select-reciver-wrapper {
  position: relative;

  .pseudo-input {
    @include fontSetup(var(--fg-neutral-weaker), 14px, 20px, normal, 400);
    position: absolute;
    top: 13px;
    left: 12px;
    z-index: 1001;
    width: fit-content;
    &.has-value {
      top: 12px;
    }
  }
  ::ng-deep {
    .container-trudi-radio,
    .radio-label .content-trudi-radio {
      display: contents;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items {
      .ng-option:first-child {
        border-radius: unset;
      }
      max-height: 45vh;
    }
    .radio-group .radio-label span {
      @include fontSetup(
        var(--fg-neutral-stronger, #3d3d3d),
        14px,
        20px,
        normal,
        400
      );
    }
    .ng-dropdown-panel .ng-dropdown-header {
      padding: unset;
      border-bottom: unset;
    }
    .receiver-type-wrapper {
      background: var(--bg-neutral-tonal-normal, #f2f5f7);
      padding: 12px;
    }
    .clear-btn {
      border: none;
      background: unset;
      @include fontSetup(
        var(--fg-neutral-stronger, #3d3d3d),
        12px,
        16px,
        normal,
        500
      );
    }
    .selected-option-value {
      @include fontSetup(
        var(--fg-neutral-weaker, #999),
        12px,
        16px,
        normal,
        400
      );
    }
    .clear-func-wrapper {
      padding: 8px 12px;
    }
    .ng-optgroup[role='group'] {
      background-color: var(--gray-200);
      text-transform: none;
    }
    .header-group {
      @include fontSetup(
        var(--fg-neutral-weaker, #999),
        12px,
        16px,
        normal,
        600
      );
      border-bottom: 1px solid var(--border-neutral-light, #f2f5f7);
      background: var(--bg-neutral-tonal-normal, #f2f5f7);
    }
    .ng-option[role='option'] {
      padding: 12px !important;
    }
    .select-item {
      .overflow-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
    .select-item__title {
      @include fontSetup(
        var(--fg-neutral-stronger, #3d3d3d) !important,
        14px,
        20px,
        normal,
        500
      );
    }
    .sendTo-subLabel {
      @include fontSetup(
        var(--fg-neutral-weaker, #999) !important,
        12px,
        16px,
        normal,
        500
      );
    }
    // .ng-select-container .ng-value-container{
    //   padding-left: 31px !important;
    // }
    .ng-option.ng-option-disabled:hover,
    .ng-option-disabled.ng-option.ng-option-marked {
      cursor: not-allowed !important;
      background-color: unset !important;
      box-shadow: unset;
    }
  }
  .checkbox-item {
    pointer-events: none;
  }
  .checkbox-disabled {
    pointer-events: unset !important;
  }
  ::ng-deep mark.highlight {
    color: unset !important;
    background-color: var(--bg-tenant-solid-normal) !important;
  }
}
:host ::ng-deep {
  .select-wrapper,
  .select-reciver-wrapper {
    .ng-select .ng-select-container {
      border: none !important;
    }
    .ng-value-container {
      padding-right: 0px !important;
    }
    .ng-label-default {
      display: block;
      max-width: 98%;
    }
    .ng-label-focused {
      display: none;
    }
    .ng-select-opened {
      .ng-label-default {
        display: none;
      }
      .ng-label-focused {
        display: block;
      }
    }
    .select-item-label {
      border: 1px solid var(--border-neutral-dark);
      padding: 2px 8px;
      border-radius: 8px;
    }

    .receivers-info-wrapper {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
