@import 'function';

.file {
  position: relative;

  .video img {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
  .fit-video {
    object-fit: cover;
  }

  &-checkbox {
    position: absolute;
    right: 4px;
    top: 4px;
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
