@import 'function';
.container-warning-unpublish {
  p {
    @include fontSetup(var(--gray-700), 14px, 20px, normal, 400);
    margin-bottom: 8px;
  }
  ul {
    margin: 0;
    padding-left: 33px;
  }
  .title {
    margin-bottom: 8px;
    p {
      margin-bottom: 0;
    }
  }
}

::ng-deep nz-modal-container {
  .ant-modal-content .ant-modal-body {
    .container-warning-unpublish {
      max-height: 160px;
      overflow-y: auto;
    }
  }
}
