@import 'function';

.w-80 {
  width: 80px;
}

.card-widget-wrapper {
  .widget-title {
    @include fontSetup(var(--gray-500), 12px, 16px, normal, 400);
  }

  .widget-info {
    @include fontSetup(var(--fg-neutral-stronger), 12px, 16px, normal, 400);
    flex: 1;
  }

  .widget-info-w {
    @include fontSetup(var(--fg-neutral-stronger), 12px, 16px, normal, 500);
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 80px);
  }

  .widget-info-none {
    @include fontSetup(var(--gray-400), 12px, 16px, italic, 400);
  }

  .widget-info-status-cancel {
    @include fontSetup(var(--fg-danger, #e1024f), 12px, 16px, normal, 400);
  }
}
