@import 'function';

.account-wrapper {
  padding: 32px;
}
.mailbox-avatar {
  width: 52px;
  height: 52px;
  margin-bottom: 16px;

  img {
    border-radius: 12px;
  }
}

.mailbox_description {
  margin-bottom: 16px;
  color: var(--fg-neutral-weaker, #999);
  font-size: 14px;
  font-weight: 400;
}

.custom-avatar {
  width: 52px;
  height: 52px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  background: var(--bg-neutral-tonal-strongest, #d8dcdf);
  align-items: center;
  font-size: 28.889px;
  font-weight: 600;
  color: var(--fg-neutral-weaker, #999);
  border-radius: 12px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 12px 0px;
  align-items: center;
  @include fontSetup(var(--fg-neutral-normal), 14px, 20px, normal, 500);

  .grid-item {
    &.description {
      font-weight: 400;
      color: var(--fg-neutral-strongest);
      word-break: break-all;

      & .status {
        color: var(--fg-neutral-weaker);
      }
    }

    .round-btn {
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4px;
      gap: 6px;
      border-radius: 50%;

      &.edit-name-btn,
      &.cancel-btn {
        background: var(--gray-200);

        &:not([disabled]):hover {
          background: var(--gray-100) !important;
        }

        &:not([disabled]):active {
          background: var(--gray-200) !important;
        }
      }

      &.confirm-btn {
        background: var(--bg-brand-tonal-normal, #e1f8f5);

        &:not([disabled]):hover {
          background: var(--bg-brand-tonal-stronger, #d1f0ed);
        }

        &:not([disabled]):active {
          background: var(--bg-brand-tonal-strongest, #b9e8e4);
        }
      }
    }
  }
}

.avatar-skeleton {
  ::ng-deep .ant-skeleton-custom {
    h3.ant-skeleton-title {
      width: 52px !important;
      height: 52px !important;
      margin-bottom: 16px;
      margin-top: 0;
      border-radius: 12px;
    }

    .ant-skeleton-paragraph {
      display: none;
    }
  }
}

.grid-container {
  .grid-item {
    ::ng-deep .ant-skeleton-custom {
      h3.ant-skeleton-title {
        width: 100% !important;
        height: 14px !important;
        max-width: 94px !important;
        margin: 0;
        border-radius: 20px;
      }

      .ant-skeleton-paragraph {
        display: none;
      }
    }
  }
  .grid-item-longer {
    ::ng-deep .ant-skeleton-custom {
      h3.ant-skeleton-title {
        width: 100% !important;
        height: 14px !important;
        max-width: 125px !important;
        margin: 0;
        border-radius: 20px;
      }

      .ant-skeleton-paragraph {
        display: none;
      }
    }
  }

  .grid-item-longest {
    ::ng-deep .ant-skeleton-custom {
      h3.ant-skeleton-title {
        width: 100% !important;
        height: 14px !important;
        max-width: 180px !important;
        margin: 0;
        border-radius: 20px;
      }

      .ant-skeleton-paragraph {
        display: none;
      }
    }
  }
}

.archive-account-tooltip {
  text-align: left;
}

.btn-archive {
  width: fit-content;
}

.text-shared-mailbox {
  @include fontSetup(var(--fg-neutral-weaker, #999), 14px, 20px, normal, 400);
}
