<div class="reminder-item-wrapper read">
  <div class="d-flex justify-content-between">
    <div class="content-wrapper d-flex">
      <div class="unread-dot"></div>
      <p class="content">
        Reminder: You have a Routine Inspection tomorrow at 03:00 pm
      </p>
    </div>
    <p class="time">09:25 am</p>
  </div>
  <div class="task-wrapper">
    <div class="d-flex">
      <p class="title">Routine Inspection</p>
    </div>
    <div class="d-flex align-items-center">
      <img src="assets/icon/user2.svg" alt="user" class="icon" />
      <p class="user">12/123 Smith Street, Elanora, QLD 4221</p>
    </div>
    <div class="d-flex mt-6 align-items-center">
      <img src="assets/icon/map-pin.svg" alt="user" class="icon" />
      <div class="address">Kenny Bunting (Primary Tenant)</div>
    </div>
  </div>
</div>
