@import 'function';
.card-widget-wrapper {
  .card-widget-items {
    &-title {
      .widget-title {
        @include fontSetup(var(--gray-500), 12px, 16px, normal, 400);
        margin-top: 3px;
      }
    }

    &-info {
      .widget-info,
      .widget-tenancy {
        margin-top: 3px;
        @include fontSetup(var(--gray-600), 12px, 16px, normal, 400);
      }

      .widget-tenancy {
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 240px;
      }
    }
  }
}
