@import 'function';
.card-widget-wrapper {
  .card-widget-items {
    &-title {
      .widget-title {
        @include fontSetup(var(--gray-500), 12px, 16px, normal, 400);
        margin-top: 3px;
      }
    }

    &-info {
      .widget-info,
      .widget-tenancy {
        margin-top: 3px;
        @include fontSetup(var(--gray-600), 12px, 16px, normal, 400);
      }

      .widget-tenancy {
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 240px;
      }
    }
  }
}

.title-popup {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--fg-neutral-strongest);
}

.keep-button {
  height: 40px;
  padding: 0px 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--border-neutral-dark);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: var(--bg-base);
}

.cancel-button {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--bg-danger-solid-normal);
  @include fontSetup(var(--fg-base), 14px, 20px, normal, 600);
  border: none;
  outline: unset;
}
