@import 'function';

.body-confirm-event-type {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.warning {
  width: 576px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--danger-100);
  border: 1px solid var(--danger-500);

  .warning-title {
    margin: 0px;
    @include fontSetup(var(--gray-600), 12px, 16px, normal, 600);
  }
  .warning-subtitle {
    margin: 0px;
    @include fontSetup(var(--gray-600), 12px, 16px, normal, 500);
  }
}

::ng-deep {
  .type-wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 468px);
    nz-radio-group.radio-group .radio-label span {
      @include fontSetup(var(--gray-700), 14px, 20px, normal, 400 !important);
    }
  }
}
