@import 'function';
.wrapper {
  width: 100%;
  .dropdown-title {
    @include fontSetup(var(--gray-700), 14px, 20px, normal, 600);
  }

  .dropdown-input-button {
    height: 36px;
    align-items: flex-start;
    flex: 1;
  }
  .dropdown-input {
    height: 36px;
    ::ng-deep dropdown-group {
      .dropdown-wrapper .move-task ::ng-deep ng-select {
        max-width: 256px;
        .ng-has-value input {
          max-width: 203px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .trudi-btn-move-detail {
    display: flex;
    width: fit-content;
    height: 36px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--bg-brand-tonal-normal, #e1f8f5);
    color: var(--bg-brand-solid-normal, #00aa9f);
    &:hover {
      background: var(--bg-brand-tonal-stronger, #d1f0ed);
    }
    &:active {
      background: var(--bg-brand-tonal-strongest, #b9e8e4);
    }
  }
}
::ng-deep
  .select-move-task
  ng-select.share-ng-select.ng-select-opened
  .ng-select-container {
  background-color: var(--white) !important;
  border: 1px solid var(--gray-200, #d8dcdf) !important;
  box-shadow: var(--shadow-brand);
  outline: none;
}
