@import 'function';
.property-wrapper {
  ::ng-deep {
    .trudi-ui-btn-outlined-neutral {
      border: none !important;
      padding: 0px !important;
      background-color: unset !important;
    }

    .modal-header-create-new-task-body {
      width: calc(100% - 48px);
    }

    .trudi-select-dropdown-button.dropdown-open.trudi-ui-btn-outlined-neutral,
    .trudi-ui-btn-outlined-neutral:active,
    .trudi-ui-btn-outlined-neutral:hover {
      background-color: unset !important;
    }
    trudi-select-dropdown-v2 {
      display: flex;
      .trudi-select-dropdown-button {
        overflow: hidden;
        width: fit-content;
      }
    }
    .ant-dropdown
      .trudi-select-dropdown-container
      .trudi-select-dropdown__header
      .search-container
      .assign-search-bar
      .search-property-input {
      @include fontSetup(
        var(--fg-neutral-stronger, #3d3d3d) !important,
        14px,
        20px,
        normal,
        500
      );
    }

    .trudi-select-dropdown-title {
      width: 100%;
    }
  }
}

.property-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  column-gap: 8px;
  cursor: pointer;

  &.selected {
    .checked-icon {
      visibility: visible;
    }
  }

  &:hover {
    background: var(--gray-100) !important;
  }

  &:active {
    background: var(--gray-200) !important;
  }

  .property-option__info {
    margin: 0;
    max-width: calc(100% - 40px);
    word-wrap: break-word;
    text-align: left;
    @include fontSetup(var(--fg-neutral-stronger), 14px, 20px, normal, 500);

    ::ng-deep.highlighted {
      background-color: var(--tenant-500) !important;
    }
  }

  .checked-icon {
    visibility: hidden;
    svg {
      height: 20px;
      width: 20px;
      color: var(--fg-brand);
    }
  }
}

.properties-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: none !important;
  @include fontSetup(
    var(--fg-neutral-stronger, #3d3d3d) !important,
    14px,
    20px,
    normal,
    500
  );
}
