.go-back-btn {
  display: flex;
  padding: 0.9rem 2.2rem;
  margin-right: 2rem;
  background: var(--bg-neutral-tonal-normal);
  border-radius: 0.7rem;
  border: 0;
  color: var(--fg-neutral-normal);
  align-items: center;
}
