@import 'function';

.filter-events-container {
  & .event-filter-button {
    @include fontSetup(var(--gray-500), 14px, 20px, normal, 500);
    padding: 4px 12px;
    background-color: var(--gray-200);
    cursor: pointer;
    border-radius: 9999px;

    &:not(.selected) {
      &:hover {
        background-color: var(--gray-100);
      }

      &:active {
        background-color: var(--gray-200);
      }
    }

    &.selected {
      background-color: var(--brand-500, #28ad99);
      color: var(--white) !important;
    }
  }

  & .wrap-filter-checkbox {
    padding: 6px 14px;

    & ::ng-deep {
      & label {
        gap: 8px !important;

        .label-text {
          @include fontSetup(var(--gray-600), 12px, 16px, normal, 500);
        }

        & span:first-child,
        & span:first-child svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
