@import 'function';
.message {
  &-resolved {
    width: fit-content;
    margin: 16px auto;
    @include fontSetup(
      var(--fg-neutral-normal, #646464),
      12px,
      20px,
      normal,
      500
    );
    span {
      &:first-letter {
        text-transform: uppercase;
      }
    }

    .name-clickable:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
