@import 'function';

::ng-deep {
  .capture-pet-bond-body {
    padding: 20px 24px;
  }
  .capture-pet-bond-footer {
    padding: 20px 24px;
    background: transparent;
    border-top: 1px solid var(--gray-100);
    border-radius: 0 0 8px 8px;
    justify-content: flex-end;
  }
}
