@import 'function';

:host {
  position: relative;
  width: fit-content;
  display: block;
  border-radius: 20px;
}

.assigned-agent-container {
  min-width: fit-content !important;
  background-color: transparent;
  padding: 0 !important;
  .target-person {
    padding: 4px;
    width: fit-content;
    border-radius: 6px;
    border: 1px solid var(--border-neutral-dark);
    background: var(--bg-base);
    &.assigned-agent {
      .item-avatar {
        gap: 4px;
        overflow: initial !important;
        @include FlbMiddleAll;
        &.remaining-item {
          background: var(--white);
          color: var(--gray-500);
          padding: 5px;
          min-width: 20px;
          height: 20px;
          border-radius: 19px !important;
          position: relative;
          &:hover .non-display-agents-box {
            display: block;
          }
        }
        label {
          margin-bottom: 0px;
          @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
          &:hover ~ .non-display-agents-box {
            display: block;
          }
        }
      }
    }
    img {
      min-width: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .info {
      margin-left: 8px;
      @include fontSetup(var(--gray-600), 12px, 16px, normal, 500);
    }
    .avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text-agent-detail {
      display: flex;
    }
    .text-agent {
      @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
    }
  }

  .target-person-detail {
    padding: 0px 8px;
    width: fit-content;
    border-radius: 6px;
    height: 20px;
    border: 1px solid var(--gray-200, #d8dcdf);
    &.assigned-agent {
      .item-avatar {
        gap: 4px;
        overflow: initial !important;
        @include FlbMiddleAll;
        max-width: 160px;
        &.remaining-item {
          color: var(--gray-500);
          padding: 5px;
          min-width: 16px;
          height: 16px;
          border-radius: 19px !important;
          position: relative;
          &:hover .non-display-agents-box {
            display: block;
          }
        }
        label {
          margin-bottom: 0px;
          @include fontSetup(var(--gray-500), 12px, 16px, normal, 600);
          &:hover ~ .non-display-agents-box {
            display: block;
          }
        }
      }
    }

    img {
      min-width: 16px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
    .info {
      margin-left: 8px;
      @include fontSetup(var(--gray-600), 12px, 16px, normal, 500);
    }
    .avatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text-agent-detail {
      display: flex;
    }
    .text-agent {
      @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100px;
    }
    &:hover {
      background: var(--gray-100, #e7eaed);
    }
    &:active {
      background: var(--bg-neutral-tonal-normal, #d8dcdf);
    }
  }

  .target-person-assignEl {
    height: 20px;
    padding: 0px 8px;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid var(--bg-brand-solid-normal, #00aa9f);
    &:hover {
      background: var(--bg-brand-tonal-stronger, #d1f0ed);
    }
    &:active {
      background: var(--bg-brand-tonal-strongest, #b9e8e4);
    }
    .info {
      @include fontSetup(
        var(--bg-brand-solid-normal, #00aa9f),
        14px,
        20px,
        normal,
        600
      );
    }
  }

  &.avatar-mode {
    .target-person-detail {
      border: none;

      &.assigned-agent .item-avatar.remaining-item {
        padding: 0px;
      }

      &:has(.item-avatar:nth-child(2)) {
        .item-avatar:nth-child(1) ::ng-deep .avatar-button {
          margin-right: -4px;
          width: 20px !important;
          height: 20px !important;
          min-width: 20px !important;
          min-height: 20px !important;
          border-radius: 50%;
          border: 2px solid var(--white) !important;
          border-style: solid !important;
          z-index: 1;
        }
      }
    }
    &.avatar-mode-custom {
      .target-person-detail {
        padding: 0;
        &:hover,
        &:active {
          background-color: unset;
        }

        .item-avatar ::ng-deep .avatar-button {
          margin-right: 0px;
          width: 20px !important;
          height: 20px !important;
          min-width: 20px !important;
          min-height: 20px !important;
          border-radius: 50%;
          border: 2px solid var(--white) !important;
          box-sizing: content-box !important;
        }

        &:has(.item-avatar:nth-child(2)) {
          .item-avatar:nth-child(1) ::ng-deep .avatar-button {
            margin-right: -6px;
          }
        }

        &:has(.item-avatar:nth-child(3)) {
          .item-avatar:nth-child(2) ::ng-deep .avatar-button {
            margin-right: -6px;
          }
        }

        &:has(.item-avatar:nth-child(4)) {
          .item-avatar:nth-child(3) ::ng-deep .avatar-button {
            margin-right: -6px;
          }
        }

        &:has(.item-avatar:nth-child(2)) {
          .item-avatar.remaining-item {
            &.rounded-corner {
              width: unset !important;
              min-width: 31px !important;
              label {
                border-radius: 36px !important;
              }
            }
            width: 20px !important;
            height: 20px !important;
            min-width: 20px !important;
            min-height: 20px !important;
            border-radius: 50%;
            border: 2px solid var(--white) !important;
            box-sizing: content-box !important;
            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background: var(--bg-neutral-tonal-normal, #f2f5f7);
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}

.target-person-item {
  border: 1px solid var(--gray-200);
  border-radius: 6px;

  .text-agent {
    @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
  }
}

::ng-deep .non-display-agents {
  &-box {
    background-color: var(--gray-500);
    padding: 4px 0 4px 6px;
    cursor: default;

    .non-display-agents-content {
      text-align: left;
      max-height: calc(28px * 8);
      max-width: 97px;
      min-width: 97px;
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 6px;
      white-space: nowrap;
      @include fontSetup(var(--white), 12px, 16px, normal, 400);
    }
  }
}

:host ::ng-deep {
  .assigned-number-skeleton,
  .assigned-number-skeleton
    span.ant-skeleton-avatar.ant-skeleton-avatar-circle.ant-skeleton-avatar-sm {
    width: 16px;
    height: 16px;
  }
  .assigned-number-skeleton {
    margin-left: 8px;
    &.custom {
      width: 20px;
      height: 20px;
      margin-right: -4px;
      margin-left: 0;
      span.ant-skeleton-avatar.ant-skeleton-avatar-circle.ant-skeleton-avatar-sm {
        width: 20px;
        height: 20px;
      }
    }
  }
}

::ng-deep .tooltip-assigned-agent {
  .ant-tooltip-arrow-content::before {
    background: var(--gray-500) !important;
  }
}

::ng-deep .item-avatar-custom-trudi {
  .avatar-button {
    background: var(--white) !important;
    img {
      border: 1px solid var(--border-neutral-dark, #ECECED) !important;
    }
  } 
}
