<trudi-modal
  *ngIf="!isStepPrescreen"
  [(visible)]="appearanceState"
  [autoFocus]="null"
  (onCancel)="isOpenModal(false)"
  className="modal-create-task-by-property"
  subTitle="">
  <ng-template #headerModal>
    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
  </ng-template>
  <div class="invite-wrapper" #selectTaskAndProperty>
    <ng-container [ngTemplateOutlet]="body"></ng-container>
    <ng-template #footerModal>
      <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
    </ng-template>
  </div>
</trudi-modal>

<ng-template #headerTemplate>
  <div
    class="modal-header-create-new-task__title--default"
    [ngClass]="{'modal-header-create-new-task-from-step': isStepPrescreen}">
    <div class="modal-header-create-task-wrapper">
      <div class="modal-header-create-new-task-body">
        <div class="title w-100 flex-1">
          <span class="flex-1">{{titlePopup}}</span>
        </div>
        <div *ngIf="!disableSelectProperty">
          <select-property
            *ngIf="!hiddenSelectProperty"
            [listProperties]="listProperty"
            [formControl]="getSelectedProperty"
            [propertyId]="selectedPropertyId"
            (onPropertyChanged)="onPropertySelectChanged($event)"></select-property>
        </div>
        <span *ngIf="disableSelectProperty" class="disable-select-property"
          >{{getSelectedProperty.value?.streetline || 'No property'}}</span
        >
      </div>
    </div>
    <button
      *ngIf="isStepPrescreen"
      (click)="isOpenModal(false)"
      class="trudi-icon close-btn cursor-pointer btn-close-task">
      <trudi-icon
        class="trudi-icon"
        [style]="{ 'width.px': 24, 'height.px': 24, color: '#646464' }"
        icon="closeIcon"></trudi-icon>
    </button>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <div class="footer-modal-create-task">
    <button
      *ngIf="showBackBtn"
      trudi-btn
      btnType="neutral"
      variant="outlined"
      (click)="handleBack()">
      Back
    </button>
    <button
      [disabled]="!isFormValid
        || disabledNextBtn
        || !hasAddAccount
        || isConsole
        || isLoadingAddFolder"
      trudi-btn
      (click)="handleCreateTask()"
      [appE2E]="openFrom === CreateTaskSource.CALENDAR_EVENT_BULK_CREATE_TASKS ? 'next-btn' : 'create-task-modal'">
      {{openFrom === CreateTaskSource.CALENDAR_EVENT_BULK_CREATE_TASKS ? 'Next'
      : 'Create'}}
    </button>
  </div>
</ng-template>

<ng-template #body>
  <div [formGroup]="formGroup" class="body" [class.ng-selected]="inputFocused">
    <trudi-workflows
      [direction]="'vertical'"
      [stepCurrent]="currentStep"
      [readonly]="true">
      <trudi-workflow>
        <ng-template trudi-workflow-content>
          <div class="small-label" data-e2e="select-task-label">
            Select task template
          </div>

          <div class="select-task-template">
            <select-single-task-template
              [items]="getListTask"
              [formControl]="getTask"
              [disabled]="readonly"
              [isShowRegion]="false"
              (onTaskChanged)="onTaskTemplateChange($event)"></select-single-task-template>
          </div>
        </ng-template>
      </trudi-workflow>

      <trudi-workflow>
        <ng-template trudi-workflow-content>
          <div class="search-box" id="assign-select">
            <div class="small-label">Add team members</div>
            <ng-select
              #ngSelectAssignTo
              class="select-agency"
              [ngClass]="{'height-dropdown': isComplianceFlow}"
              id="assign-list"
              placeholder="Select assignee"
              [items]="listOfAgent"
              formControlName="assign"
              bindValue="value"
              bindLabel="label"
              [searchFn]="searchPeople"
              [searchable]="true"
              [clearable]="false"
              [editableSearchTerm]="true"
              [clearSearchOnAdd]="false"
              [virtualScroll]="true"
              [compareWith]="compareAssign"
              dropdownPosition="auto"
              [multiple]="true"
              (focus)="formValidate.assign = false"
              [loading]="isLoadingTeamMember"
              (open)="onOpenSelect('assign-select', 'focus')"
              (change)="onUpdateCurrentStep()"
              notFoundText="No results found"
              [readonly]="(createMultiple && currentStep < (CreateTaskStep.ASSIGNEE_STEP - 1))
                  || (!createMultiple && currentStep < CreateTaskStep.ASSIGNEE_STEP)"
              [closeOnSelect]="false">
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <trudi-icon
                  (click)="clear(item)"
                  class="ng-value-icon left"
                  icon="closeGray64"
                  [style]="{ 'width.px': 10, 'height.px': 10, 'min-width.px': 10, 'min-height.px': 10 }"></trudi-icon>
                <div class="d-flex">
                  <app-user-avatar
                    [avatar]="item.value?.googleAvatar"
                    [user]="item.value"
                    [style]="'width: 20px; height: 20px; font-size: 10px;'"></app-user-avatar>
                  <div class="label-name">
                    {{item.label}} {{item?.isCurrentPM ? "(Me)" : ""}}
                  </div>
                </div>
              </ng-template>
              <ng-template
                ng-option-tmp
                let-item="item"
                let-search="searchTerm">
                <div class="label-select" [title]="item.label">
                  <app-user-avatar
                    [avatar]="item.value?.googleAvatar"
                    [user]="item.value"
                    [style]="'width: 28px; height: 28px; font-size: 14px;'"></app-user-avatar>
                  <div
                    class="label-name-select"
                    [ngOptionHighlight]="search ? (search | nzTrim) : ''"
                    [ngClass]="{'active': checkSelectedAgent(item.id)}">
                    {{item.label}}
                  </div>
                </div>
                <trudi-icon
                  [class.user-checkbox-disable]="item.value.inviteStatus === InviteStatus.DEACTIVATED"
                  [icon]="(checkSelectedAgent(item.id) && item.value.inviteStatus !== InviteStatus.DEACTIVATED) ? 'userChecked' : (item.value.inviteStatus === InviteStatus.DEACTIVATED ? 'checkboxDeactived' : 'userUnCheck')"
                  class="user-checkbox checkbox-head"></trudi-icon>
              </ng-template>

              <ng-template ng-header-tmp>
                <div
                  *ngIf="listOfAgent.length"
                  class="d-flex align-items-center justify-content-between pd-12">
                  <div>
                    <span class="count-text"
                      >{{formGroup.get('assign').value.length}}/{{listOfAgent.length}}</span
                    >
                  </div>
                  <span
                    class="clear-btn clear-selection-btn"
                    *ngIf="formGroup.get('assign').value.length"
                    (click)="handleClearAllAssign()"
                    >Clear selection</span
                  >
                </div>
              </ng-template>
            </ng-select>
          </div>
        </ng-template>
      </trudi-workflow>

      <trudi-workflow>
        <ng-template trudi-workflow-content>
          <div class="search-box" id="folder-select">
            <div class="small-label" data-e2e="select-folder-label">
              Save to
            </div>
            <trudi-form-control [showErrorMessage]="false">
              <ng-select
                [ngClass]="{'cursor_search--folder': !valueSearchFolder?.length && getSelectedFolder?.value}"
                #folderSingleSelect
                dropdownPosition="auto"
                [clearable]="false"
                formControlName="folder"
                bindValue="id"
                placeholder="Select folder"
                bindLabel="name"
                [loading]="isLoadingAddFolder"
                (search)="handleSearchFolder($event)"
                [searchFn]="handleCustomSearchFolder"
                [items]="listFolder"
                (blur)="handleBlurSelectFolder()"
                (close)="onFolderSelectClosed()"
                [searchable]="true"
                [clearable]="true"
                [readonly]="(createMultiple && currentStep < (CreateTaskStep.FOLDER_STEP - 1))
                    || (!createMultiple && currentStep < CreateTaskStep.FOLDER_STEP)">
                <ng-template ng-header-tmp>
                  <div
                    class="d-flex align-items-center justify-content-between pd-12">
                    <span class="folder-field-title"> SELECT FOLDER </span>
                  </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <div class="y-center gap-8 w-100">
                    <trudi-icon
                      [icon]="'iconFolder'"
                      [style]="{'width.px': 20, 'height.px': 20}"></trudi-icon>
                    <span class="label-folder-name"> {{ item?.name }} </span>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <div class="y-center justify-content-between flex-1">
                    <div class="y-center gap-8 folder-field-option">
                      <span class="trudi-icon folder-option-icon">
                        <trudi-icon [icon]="item?.icon"></trudi-icon>
                      </span>
                      <span [title]="item.name">{{item?.name}}</span>
                    </div>
                    <trudi-icon
                      icon="checkSuccess"
                      *ngIf="item.id === getSelectedFolder?.value"
                      svgClass="size-16"></trudi-icon>
                  </div>
                </ng-template>
                <ng-template ng-notfound-tmp>
                  <div class="ng-option ng-option-disabled not-found-text">
                    No items found
                  </div>
                </ng-template>
                <ng-container>
                  <ng-template ng-footer-tmp>
                    <div *ngIf="isShowAddNewFolder" class="input-add-folder">
                      <trudi-text-field
                        [autoFocus]="true"
                        formControlName="addNewFolder"
                        iconLeft="iconFolder"
                        placeholder="Enter folder name"
                        (keydown.backspace)="$event.stopPropagation()"
                        size="large"></trudi-text-field>
                    </div>
                    <button
                      class="btn-add-folder"
                      [class.disable-add-folder]="isShowAddNewFolder"
                      (click)="handleAddNewFolder()">
                      <trudi-icon icon="plusInvite"></trudi-icon>
                      <span class="ml-4">Add new folder</span>
                    </button>
                  </ng-template>
                </ng-container>
              </ng-select>
            </trudi-form-control>
          </div>
        </ng-template>
      </trudi-workflow>
    </trudi-workflows>
  </div>
</ng-template>

<resizable-modal-popup
  *ngIf="appearanceState && isStepPrescreen"
  [show]="appearanceState"
  [modalId]="modalId"
  [draggable]="true"
  [resizable]="false"
  [hasBackdrop]="false"
  [heightCustom]="'auto'"
  [widthCustom]="624"
  [styleCustom]="{ backgroundColor: '#FFFFFF', border: 0 }"
  [headerTemplate]="headerTemplate"
  [isShowFooter]="false"
  [showTitle]="true"
  [isCustomMoveable]="true"
  class="modal-create-task-by-property">
  <div class="invite-wrapper" #selectTaskAndProperty>
    <div class="modal-body-create-new-task">
      <ng-container [ngTemplateOutlet]="body"></ng-container>
    </div>
    <div class="modal-footer-create-new-task">
      <div class="d-flex justify-content-end">
        <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
      </div>
    </div>
  </div>
</resizable-modal-popup>

<ng-template #displayTaskTmpl let-item="item">
  <span
    nz-tooltip
    [nzTooltipTitle]="tooltipTemplate"
    [nzTooltipPlacement]="'right'"
    class="task__item-label"
    *ngIf="item?.regionName && (totalTasks < 2)">
    {{item.regionName}}
  </span>
  <ng-template #tooltipTemplate>
    <div class="text-left">
      {{ item?.regionFullName + ' (' + item?.regionName + ')' }}
    </div>
  </ng-template>
</ng-template>
