@switch (popupState) { @case (ESmsMessageDetailPopup.Carousel) {
<app-modal-popup
  [transparent]="true"
  [show]="popupState === ESmsMessageDetailPopup.Carousel"
  [zIndex]="999999"
  [appendBody]="true"
  [position]="ModalPopupPosition.full_screen">
  <app-images-carousel
    [open]="popupState === ESmsMessageDetailPopup.Carousel"
    [imageUrlList]="viewSyncFile ? arrayImageCarousel2 : arrayImageCarousel"
    [initialIndex]="initialIndex"
    (showCarousel)="manageCarouselState($event)"
    (showSelectPeoplePopup)="handleShowTrudiSendMsg($event)"
    (fileEmit)="handleFileEmit($event)"></app-images-carousel>
</app-modal-popup>
} } @if (contactCardPopupState.addContactCardOutside) {
<trudi-add-contact-card
  [visible]="contactCardPopupState.addContactCardOutside"
  [configs]="attachmentTextEditorConfigs"
  [form]="sendMsgForm"
  (onTrigger)="onTriggerAddContactCard()"
  (onClose)="onCloseAddContactCard()"></trudi-add-contact-card>
} @if (uploadFileFromCRMPopupState.uploadFileFromCRMOutside) {
<upload-from-crm
  [configs]="attachmentTextEditorConfigs"
  (onTrigger)="onTriggerAddFilesFromCrm()"
  (onClose)="onCloseUploadFromCRM()"></upload-from-crm>

} @if (sendMsgPopupState.addReiFormOutside) {
<div
  [show]="sendMsgPopupState.addReiFormOutside"
  [position]="ModalPopupPosition.center">
  <trudi-rei-form-card></trudi-rei-form-card>
</div>
}

<div class="wrapper-relative">
  <div
    *ngIf="!loading"
    class="box-drop-files message-view check-detail"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="fileList"
    [cdkDropListConnectedTo]="connectedChild"
    (cdkDropListDropped)="drop($event)"
    #boxChat>
    <div class="chat d-flex flex-dir-column">
      <div #chatHeader id="app-chat-header">
        <sms-message-detail-header
          [currentConversation]="currentConversation"
          [currentProperty]="currentProperty"
          (reopenMsg)="changeConversationStatus($event)">
        </sms-message-detail-header>
      </div>

      <div class="message-detail-wrapper" [style.height]="heightDetailWrapper">
        <div
          class="chat-section flex-1"
          (dragenter)="onDragEnter($event)"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)">
          @if ((groupMessage.length && currentProperty)) {
          <div
            id="chat-container"
            class="message-section chat-container scroll-container-wrapper"
            data-e2e="message-thread"
            infiniteScroll
            [scrollWindow]="false"
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            [immediateCheck]="true"
            (scrolledUp)="loadHistory(currentConversation.id, true, createdTimeOfFirstMsg, false, 'up')"
            (scroll)="checkScroll()"
            #scrollDown>
            @if (isFetchingOlderMessages) {
            <div class="loading-spinner loading-spinner-top">
              <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
            </div>
            }
            <div
              class="message-wrapper"
              [style.paddingBottom.px]="(userVerified ? 40 : 12) + (!currentPMJoined ? 52 : 0)">
              @for (parentMsg of groupMessage; track parentMsg.timeStamp; let
              lastMsgInline = $last ) {
              <div class="d-flex flex-dir-column gap-12">
                @if (!loading) {
                <div class="timestamp-badge wrap-order-day y-center">
                  <div class="divider flex-1 hideDivider"></div>
                  <div class="order-day timeStamp">
                    {{parentMsg?.timeStamp | dateTimeString | async |
                    uppercaseFirstLetter}}
                  </div>
                  <div class="divider flex-1 hideDivider"></div>
                </div>
                } @for (message of parentMsg?.messages; track
                message.trackByMessageId; let last = $last; let idx = $index ; )
                {
                <div
                  appRendered
                  (rendered)="handleItemRendered()"
                  class="message"
                  [class.flex-dir-column]="message.isLastReadMessage && isHasNewMessage"
                  [class.align-items-end]="message.isLastReadMessage && !message.isUserFromSms && isHasNewMessage"
                  [class.block]="message.messageType === messagesType.ticket && (message?.options?.type !== 'contact' && !message?.options?.contacts)"
                  [ngClass]="message.isUserFromSms ? 'user' : 'trudi'">
                  @if(message.messageType) { @switch (message.messageType) {
                  @case (messagesType.actionLink) {
                  <div class="message-body">
                    <div class="al-border">
                      <app-message-action-link
                        [reBorderAtChatApp]="true"
                        [messageActionLink]="message.actionLink"
                        [propertyId]="currentProperty.id"
                        [linkBackground]="message.color"
                        [imgLink]="message.svg">
                      </app-message-action-link>
                    </div>
                    <sms-message-footer
                      [message]="message"
                      [isRead]="message.isRead"
                      [conversationType]="EConversationType.SMS">
                    </sms-message-footer>
                  </div>
                  } @case (messagesType.file) {
                  <div
                    class="message-body no-transform"
                    [ngClass]="{'mt-8': message.isUserFromSms}"
                    (click)="message.isError && onResendTheMessage($event, message.id)">
                    @if (message.isUserFromSms) {
                    <app-message-file
                      [isSms]="true"
                      [message]="message"
                      [isSending]="message?.isSending || message?.isError"
                      [messageFile]="message.isShowFile ? message.file : null"
                      [isShowActionButton]="true"
                      [isShowFile]="message.isShowFile"
                      (isVideoLoaded)="scrollToBottom()"
                      [isAppMessage]="true"
                      [isLoadingFile]="!message.file.mediaLink"
                      (fileOnClicked)="manageCarouselState($event)"
                      (showSelectPeople)="openForwardMessageModal($event)"
                      (fileEmit)="handleFileEmit($event)"
                      class="message-file">
                    </app-message-file>
                    } @else {
                    <sms-message-default
                      [isSending]="message?.isSending || message?.isError"
                      [message]="message"
                      [visibleMessageText]="false"
                      (showSelectPeople)="handleShowTrudiSendMsg($event)"
                      (fileEmit)="handleFileEmit($event)">
                    </sms-message-default>
                    }
                    <sms-message-footer
                      [message]="message"
                      [isRead]="message.isRead"
                      [isShowSending]="false"
                      [conversationType]="EConversationType.SMS">
                    </sms-message-footer>
                  </div>
                  } @case (messagesType.solved) {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <app-message-resolved
                      [message]="message"
                      [conversationType]="EConversationType.SMS"
                      [attr.data-e2e]="'message-resolved'">
                    </app-message-resolved>
                  </div>
                  } @case (messagesType.reopened) {
                  <div
                    class="message-body no-transform full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <app-message-reopened
                      [message]="message"
                      [conversationType]="EConversationType.SMS"
                      [phoneNumber]="currentConversation?.channelUser?.externalId">
                    </app-message-reopened>
                  </div>
                  } @case (messagesType.agentExpectation) { @if (isFirstJoined)
                  {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <app-message-agent-expectation></app-message-agent-expectation>
                  </div>
                  } } @case (messagesType.agentJoin) {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <app-message-agent-join
                      [conversationType]="EConversationType.SMS"
                      [message]="message"
                      [title]="message.userTitle">
                    </app-message-agent-join>
                  </div>
                  } @case (messagesType.changeProperty) {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <message-change-property
                      [message]="message"
                      [conversationType]="EConversationType.SMS"
                      [listProperty]="propertyService.listPropertyAllStatus | async">
                    </message-change-property>
                  </div>
                  } @case (messagesType.syncConversation) {
                  <div class="message-body full-width no-padding">
                    <message-synced-conversation
                      [message]="message"
                      [conversationType]="EConversationType.SMS">
                    </message-synced-conversation>
                  </div>
                  } @case (messagesType.ticket) {
                  <div
                    [ngClass]="(!message.isSendFromEmail) ? 'message-body':'d-flex flex-dir-column w-100'">
                    @if(last && isFirstJoined && (message?.options?.type !==
                    'contact' && !message?.options?.contacts) &&
                    this.currentConversation?.createdFrom === 'APP') {
                    <div class="message-body full-width no-padding">
                      <app-message-agent-expectation></app-message-agent-expectation>
                    </div>
                    }
                  </div>
                  } @case (messagesType.buttons) {
                  <div class="message-body-wrapper d-flex">
                    <div class="message-body">
                      @if(message.message) {
                      <sms-message-default
                        [isSending]="message?.isSending || message?.isError"
                        [message]="message"></sms-message-default>
                      <sms-message-footer
                        [message]="message"
                        [isRead]="message.isRead"
                        [conversationType]="EConversationType.SMS">
                      </sms-message-footer>
                      }
                    </div>
                    <div class="message-options">
                      @for (item of message.options; track i; let i = $index) {
                      <app-trudi-default-actions
                        [userMessage]="item"></app-trudi-default-actions>
                      }
                    </div>
                  </div>
                  } @case (messagesType.navigationUrl) {
                  <div class="message-body__nav">
                    <div class="message-body">
                      <sms-message-default
                        [isSending]="message?.isSending || message?.isError"
                        [message]="message"></sms-message-default>
                    </div>
                    @for (link of message.options; track i; let i = $index) {
                    <div class="message-body message-body_nav-link">
                      <app-trudi-nav-links
                        [linkType]="link"></app-trudi-nav-links>
                    </div>
                    }
                  </div>
                  } @case (messagesType.url) {
                  <div
                    class="message-body"
                    [ngClass]="{'not-message': !message?.message}">
                    @if(!!message?.message?.trim()) {
                    <ng-container>
                      <sms-message-default
                        [isSending]="message?.isSending || message?.isError"
                        [message]="message"></sms-message-default>
                      <sms-message-footer
                        [message]="message"
                        [isRead]="message.isRead"
                        [conversationType]="EConversationType.SMS">
                      </sms-message-footer>
                    </ng-container>
                    } @for (url of message.options; track i; let i = $index) {
                    <app-trudi-url
                      class="trudi-url"
                      [url]="url"></app-trudi-url>
                    }
                  </div>
                  } @case (messagesType.defaultText) {
                  <ng-container>
                    <div class="message-body no-transform">
                      <div
                        (click)="message.isError && onResendTheMessage($event, message.id)"
                        class="message-container"
                        [ngClass]="{'row-reverse': !message.isUserFromSms, 'message-has-error': message.isError}">
                        <div class="message-box">
                          <sms-message-default
                            [ngClass]="{'text-black' : message.messageType === 'TEXT'}"
                            [isSending]="message?.isSending || message.isError"
                            [message]="message">
                          </sms-message-default>
                          <sms-message-footer
                            [message]="message"
                            [isRead]="message.isUserFromSms ? message.isRead : null"
                            [conversationType]="EConversationType.SMS">
                          </sms-message-footer>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  } @case (messagesType.endSession) { @if(message.createdAt) {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <div
                      class="end-session message-resolved d-flex align-items-center gap-4 wrap-conversation-status">
                      <trudi-icon
                        svgClass="size-20"
                        icon="iconClockOutline"></trudi-icon>
                      <div class="custom-text">
                        Session ended {{message.createdAt | formatDateTime: true
                        | async | lowercase}}
                      </div>
                    </div>
                  </div>
                  } } @case (messagesType.startSession) { @if(message.createdAt)
                  {
                  <div
                    class="message-body full-width no-padding"
                    [ngClass]="message.classForMarker">
                    <div
                      class="end-session message-resolved d-flex align-items-center gap-4 wrap-conversation-status">
                      <trudi-icon
                        svgClass="size-20"
                        icon="iconClockOutline"></trudi-icon>
                      <div class="custom-text">
                        Session started {{message.createdAt | formatDateTime:
                        true | async | lowercase}}
                      </div>
                    </div>
                  </div>
                  } } } } @if (message.isLastReadMessage && message.originIndex
                  === lastReadMessageIndex && isHasNewMessage &&
                  !isHideRedLineNew) {
                  <div
                    class="d-flex flex-dir-row align-items-center red-line"
                    #redLineNew>
                    <hr />
                    <trudi-icon icon="newMessageTag"> </trudi-icon>
                  </div>
                  }
                </div>
                }
              </div>
              }
              <div class="typing-block">
                <app-typing-animation></app-typing-animation>
              </div>
            </div>
            @if (isFetchingNewerMessages) {
            <div class="loading-spinner loading-spinner-top">
              <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
            </div>
            }
          </div>

          <div class="float-container d-flex flex-dir-column gap-8">
            @if (showScrollToBottomButton && scrollDown &&
            scrollDown?.scrollHeight > scrollDown?.clientHeight) {
            <button
              class="view-most-recent d-flex align-items-center gap-4"
              (click)="handleViewMostRecent(EBehaviorScroll.SMOOTH)">
              <trudi-icon icon="chevronDown" svgClass="size-16"> </trudi-icon>
              <span>View most recent</span>
            </button>
            }
            <!-- Sms conversation summary -->
            @if (userVerified) {
            <conversation-summary
              [currentConversation]="currentConversation"
              [elementRefHeight]="messageSectionHeight"
              [currentTask]="currentTask"
              [emailVerified]="emailVerified"
              (triggerCurrentConversation)="triggerCurrentConversation($event)"></conversation-summary>
            }
            <!-- AI Status -->
            @if (!currentPMJoined) {
            <join-conversation
              [disabled]="isDisabledJoinButton || pmJoinningConversation"
              [hadCountTicket]="currentConversation?.isHasTicketSession"
              [isPmJoined]="currentConversation?.isPmJoined"
              [pmJoinedConversation]="currentConversation?.lastPmJoined"
              [currentConversation]="currentConversation"
              [disabledTooltipText]="pmJoinningConversation ? '' : JoinConversationDisabledTooltipText"
              [openFrom]="EJoinConversationOpenFrom.SMS"
              (joinConversation)="handleJoinConversation()">
            </join-conversation>
            }
          </div>
          } @else if(!groupMessage.length) {
          <ng-container>
            @if(isTaskType && !currentConversation) {
            <div class="empty-task-chat-container">
              <div class="no-data-icon">
                <div class="position-center-w">
                  <trudi-icon
                    icon="noConversationsV2"
                    class="size-140"></trudi-icon>
                  <p>No conversations to display</p>
                </div>
              </div>
            </div>
            }
          </ng-container>
          }
        </div>
      </div>

      @if (currentPMJoined && (currentConversation.status !==
      EConversationStatus.resolved)) {
      <div #textareaContainer>
        <sms-compose-message
          #composeMessage
          (onMsgResize)="handleResizeInlineMsg($event)"
          [configs]="createNewConversationConfigs"
          [composeType]="composeType"
          [currentProperty]="currentProperty"
          (onSendMsg)="handleOnSendMsg($event)"
          [currentConversation]="currentConversation"
          [loadingCreateScratch]="loadingCreateScratch">
        </sms-compose-message>
      </div>
      }
    </div>
  </div>

  <!-- break loading  -->
  <div class="wrapper-loading-message" *ngIf="loading || !allMessageRender">
    <message-header-skeleton></message-header-skeleton>
    <div
      class="message-section message-section-skeleton d-flex flex-dir-column">
      <div class="mb-12" style="align-self: end">
        <div class="text-skeleton">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
          <div class="avatar-skeleton"></div>
        </div>
      </div>
      <div class="mb-12">
        <div class="text-skeleton ml-12">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
          <div class="avatar-skeleton"></div>
        </div>
      </div>
      <div class="mb-12" style="align-self: end">
        <div class="text-skeleton">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
          <div class="avatar-skeleton"></div>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <nz-skeleton-element
        class="button-skeleton"
        nzType="button"
        [nzActive]="true"></nz-skeleton-element>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <img src="assets/images/loading-spinner.gif" />
</ng-template>

<div
  *ngIf="!isInboxDetail"
  appOutsideClickListener
  (clickOutside)="handleClickOutsideUserProfileDrawer()"
  [whiteList]="whiteListMsgDetail">
  <user-info-drawer
    [openFrom]="ETypePage.TASK_DETAIL"
    [currentDataUser]="currentDataUserProfile"
    [visible]="isUserProfileDrawerVisible"
    [isSMSMessage]="true"></user-info-drawer>
</div>

<conversation-summary-file
  [currentConversation]="currentConversation"
  [currentTask]="currentTask" />
