<div class="wrapper-skeleton-file" [hidden]="!isLoading">
  <div
    class="justify-content-between align-items-center files-item pd-12 skeleton-bg">
    <div class="skeleton-rectangle">
      <nz-skeleton
        [nzParagraph]="paragraph"
        [nzActive]="true"
        class="w-100"></nz-skeleton>
    </div>
    <div class="w-25">
      <nz-skeleton-element
        class="skeleton-circle"
        nzType="avatar"
        [nzActive]="true"
        [nzSize]="'small'"></nz-skeleton-element>
    </div>
    <div class="d-flex justify-content-end w-25">
      <nz-skeleton-element
        class="skeleton-circle"
        nzType="avatar"
        [nzActive]="true"
        [nzSize]="'small'"></nz-skeleton-element>
    </div>
  </div>
</div>
<trudi-collapse-widget
  [titleHeader]="headerTextTemplates"
  [isShowItemsCount]="true"
  [itemsCount]="itemsCounts"
  [activeExpand]="true"
  class="widget-calls"
  (activeChange)="onActiveChange($event)"
  [hidden]="isLoading">
  <file-panel
    [widgetType]="widgetType.Call"
    e2eData="calls-widget-three-dots-send"
    [isStopAudio]="isStopAudio"
    (filesCallCount)="itemsCounts = $event"
    (isLoading)="onLoadingFilePanel($event)"></file-panel>
</trudi-collapse-widget>

<ng-template #headerTextTemplates>
  <span>CALLS</span>
</ng-template>
