@import 'function';

.promotions-info {
  .title {
    @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
  }
  &-wrapper {
    border: 1px solid var(--gray-200);
    padding: 16px;
  }
  .file {
    &-extension {
      @include fontSetup(var(--gray-400), 12px, 16px, normal, 500);
    }
    &-name {
      @include fontSetup(var(--gray-600), 14px, 20px, normal, 500);
    }
    .warning-content {
      @include fontSetup(var(--danger-500), 12px, 16px, normal, 400);
    }
  }
  .col-item {
    margin-top: 12px;
  }
}

:host ::ng-deep .text-ellipsis {
  display: block;
  max-width: 184px;
}

:host ::ng-deep .change-image {
  background-color: var(--gray-50);
  .btn-text {
    @include fontSetup(var(--gray-500), 14px, 20px, normal, 600);
  }
}

:host ::ng-deep .custom-url-display {
  .trudi-form-control-wrapper {
    .trudi-ui-text-field-label {
      justify-content: flex-end !important;
    }
  }
}
