@import 'function';

.header-title {
  @include fontSetup(var(--gray-400), 12px, 18px, normal, 600);
}

:host ::ng-deep {
  .portfolios-collapse {
    .trudi-collapse-container {
      border-bottom: 0px !important;
    }
    .ant-collapse-header {
      padding: 0 !important;
      button {
        right: 70px !important;
      }
    }
    .trudi-collapse-content-box
      div.ant-collapse-content
      .ant-collapse-content-box {
      padding: 0;
    }
  }
}
