@import 'function';
.invite-wrapper {
  padding: 14px;
  .detail-invite {
    .send-invite-text {
      flex: 1;
      .text-sure {
        @include fontSetup(var(--gray-950), 2rem, 2.8rem, normal, 600);
      }
      .cannot-text {
        @include fontSetup(var(--gray-500), 1.4rem, 2rem, normal, 500);
      }
    }
  }
  .btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
