@import 'function';

:host {
  .pt-form-wrapper {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .field-label {
      @include fontSetup(var(--fg-neutral-stronger), 14px, 20px, normal, 600);
    }

    .field-help {
      cursor: pointer;
      @include fontSetup(var(--fg-brand), 14px, 20px, normal, 500);
    }

    .clear-btn {
      cursor: pointer;
      @include fontSetup(var(--fg-danger), 14px, 20px, normal, 500);
    }

    ::ng-deep trudi-radio-button.pt-step-action {
      nz-radio-group .radio-label span {
        font-weight: 400 !important;
      }
    }
  }

  .mb-6 {
    margin-bottom: 6px;
  }
}
