@import 'function';

.header {
  &-modal {
    display: flex;
    align-items: center;
  }
  &-title {
    @include fontSetup(
      var(--fg-neutral-strongest, #202020),
      18px,
      28px,
      normal,
      600
    );
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.tenancy-invoice-form {
  width: 100%;
}

.date {
  max-width: unset;
}

::ng-deep .dropdown-button {
  max-width: unset;
}

::ng-deep .time-picker-inspection .date-time-picker .input-wrapper {
  width: 100%;
  .dropdown-button {
    max-width: 100% !important;
    min-height: 40px !important;
    padding: 10px 12px !important;
  }
  input {
    width: 100%;
  }
  .btn-group {
    width: 100%;
  }
}

.value-output {
  textarea {
    width: 100%;
    background: var(--gray-200);
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    padding: 12px;
    min-height: 102px;
    padding-bottom: 24px;
    border-radius: 8px;
    overflow: auto;
    border: 1px solid var(--gray-200);
    @include fontSetup(var(--gray-700), 14px, 20px, normal, 500);
    &.disabled-field {
      background: var(--bg-neutral-tonal-strongest, #d8dcdf);
      @include fontSetup(
        var(--fg-neutral-weakest, #b9bec0),
        14px,
        20px,
        normal,
        500
      );
      cursor: not-allowed;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    &:focus:not(.disabled-field) {
      margin: 0 2px;
      padding: 12px 10px;
      @include box-shadow-input-select(var(--shadow-brand) !important);
    }
    &:hover:not(:focus, .disabled-field) {
      background: var(--gray-100) !important;
    }
    &::placeholder {
      @include fontSetup(var(--gray-500), 14px, 20px, normal, 500);
    }
    &.has-error {
      margin: 0 2px;
      padding: 12px 10px;
      @include box-shadow-input-select(var(--shadow-danger) !important);
    }
  }

  .textarea-bottom-text {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}

.footer-modal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-back {
  border-radius: 8px;
  border: 1px solid var(--border-neutral-dark, #d8dcdf);
  background: var(--bg-base, #fff);
  min-width: 100px;
  min-height: 40px;
  padding: 0px 16px;
  &:hover {
    background: var(--bg-neutral-tonal-stronger, #e7eaed);
  }
  &:focus {
    background: var(--bg-neutral-tonal-strongest, #d8dcdf);
  }
}

.text-btn-back {
  @include fontSetup(
    var(--fg-neutral-normal, #646464),
    14px,
    20px,
    normal,
    600
  );
}

.button-sync {
  border-radius: 8px;
  background: var(--bg-brand-solid-normal, #00aa9f);
  border: unset;
  min-width: 100px;
  min-height: 40px;
  padding: 0px 16px;
  &:not(.disabled-sync):hover {
    background: var(--bg-brand-solid-stronger, #33bbb2);
  }
  &:not(.disabled-sync):focus {
    background: var(--bg-brand-solid-strongest, #0aa095);
  }
}

.button-sync.disabled-sync {
  background: var(--bg-brand-tonal-strongest, #b9e8e4);
}

.text-btn-sync {
  @include fontSetup(var(--fg-base, #fff), 14px, 20px, normal, 600);
}

::ng-deep .inspection-details ng-select.share-ng-select .ng-select-container {
  height: 44px !important;
  padding: 12px;
}

.wrap-error-des {
  margin-top: 6px;
  .required-field {
    @include fontSetup(var(--danger-500), 12px, 16px, normal, 400);
  }
}

.error-field:not(.trudi-picker-focused) {
  @include box-shadow-input-select(var(--shadow-danger));
}

::ng-deep time-picker.invalid-time .input-wrapper .dropdown-button {
  @include box-shadow-input-select(var(--shadow-danger));
}

::ng-deep {
  .trudi-form-control-wrapper:has(
      .time-picker-inspection.invalid-time
        .date-time-picker
        .input-wrapper
        input:focus:not(.input-error)
    ) {
    .error-container {
      visibility: hidden;
    }
  }
  .inspection-details
    .trudi-form-control-wrapper:has(
      .time-picker-inspection
        .date-time-picker
        .date-time-group
        .input-wrapper
        .dropdown-show
    ) {
    .error-container {
      visibility: hidden;
    }
  }
  .trudi-form-control-wrapper:has(.date.trudi-picker-focused) {
    .error-container {
      visibility: hidden;
    }
  }
  .trudi-form-control-wrapper .date.trudi-picker-focused {
    @include box-shadow-input-select(var(--shadow-brand) !important);
    background-color: var(--white);
  }
  .inspection-details:has(.ng-select-opened) ng-select.red-border {
    @include box-shadow-input-select(var(--shadow-brand) !important);
  }
  .inspection-details .trudi-form-control-wrapper:has(.ng-select-opened) {
    .ng-select-container {
      @include box-shadow-input-select(var(--shadow-brand) !important);
    }
    .error-container {
      visibility: hidden;
    }
  }
}

.inspection-details {
  ::ng-deep nz-radio-group.radio-group .radio-label span {
    @include fontSetup(
      var(--fg-neutral-stronger, #3d3d3d),
      14px,
      20px,
      normal,
      400
    );
  }
  ::ng-deep ng-select {
    margin-top: 6px;
    @include fontSetup(
      var(--gray-700) !important,
      14px!important,
      20px!important,
      normal,
      500!important
    );
    .ng-dropdown-panel-items .ng-option {
      span {
        @include fontSetup(
          var(--fg-neutral-strongest, #202020),
          14px,
          20px,
          normal,
          500
        );
      }

      &.ng-option-selected {
        span:not(.task__item-label) {
          @include fontSetup(
            var(--gray-700) !important,
            14px,
            20px,
            normal,
            500
          );
        }
      }
    }

    &.hide-dropdown-panel ng-dropdown-panel {
      display: none !important;
    }

    .ng-select-container {
      min-height: 44px;
      padding: 6px 12px !important;
      background-color: var(--gray-200);
      border-radius: 8px !important;
      border: none;
      box-shadow: none;
      .ng-input {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        padding-left: 12px !important;
        @include fontSetup(
          var(--fg-neutral-stronger, #3d3d3d) !important,
          14px!important,
          20px!important,
          normal,
          500!important
        );
      }
    }
    .ng-arrow-wrapper .ng-arrow {
      width: 12px;
      height: 8px;
      border: none;
      background: url('/assets/images/arow.png');
    }
    &.ng-select-opened {
      .ng-arrow-wrapper .ng-arrow {
        width: 100%;
        height: 13px;
        border: none;
        background-size: cover;
        background: url('/assets/images/chevron-up.png');
      }
    }

    &.red-border {
      @include box-shadow-input-select(var(--shadow-danger));
      border-radius: 8px !important;
      &.ng-select-opened {
        .ng-select-container {
          background-color: var(--white) !important;
          @include box-shadow-input-select(var(--shadow-danger));
        }
      }
    }
    &.height-dropdown {
      .ng-dropdown-panel {
        .ng-dropdown-panel-items {
          max-height: 200px;
        }
      }
    }
    .ng-dropdown-panel {
      overflow: hidden;
      top: calc(100% + 8px);
      border-radius: 8px !important;
      filter: drop-shadow(1px 4px 14px var(--bg-overlay-light));

      &.ng-select-top {
        bottom: unset !important;
      }

      .ng-option {
        padding: 6px 12px !important;
        display: flex !important;
        align-items: center !important;
        font-size: 14px !important;
        // font-style: italic !important;
        &:not(.ng-option-disabled):hover {
          span:not(.task__item-label) {
            color: var(--fg-neutral-strongest, #202020) !important;
            font-weight: 500;
          }
        }

        .highlighted {
          @include fontSetup(
            var(--gray-700) !important,
            14px!important,
            20px,
            normal,
            500!important
          );
        }
      }

      .ng-option-disabled {
        cursor: default;
      }
      .ng-dropdown-panel-items {
        max-height: calc(40px * 7);
        .ng-optgroup {
          padding: 10px 12px;
          background-color: var(--gray-200);

          span {
            @include fontSetup(var(--gray-700), 14px, 20px, normal, 600);
          }
        }

        .ng-option.ng-option-selected {
          &:after {
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background: url('/assets/icon/ownership-check.svg') no-repeat center;
            border-radius: 50%;
          }
          span {
            color: var(--gray-700);
            font-weight: 500;
          }
        }

        .ng-star-inserted {
          display: flex;
          justify-content: space-between;
        }

        .ng-option-disabled,
        .ng-option {
          box-shadow: unset;
          &:not(:last-child) {
            border-bottom: 1px solid var(--gray-200);
          }
          padding: 12px !important;
          height: auto !important;
        }
        .ng-option-disabled.ng-option {
          .highlighted {
            @include fontSetup(
              var(--gray-300) !important,
              14px,
              20px,
              normal,
              500
            );
          }
        }
        ::-webkit-scrollbar {
          width: 7px;
        }
        ::-webkit-scrollbar-track {
          border-radius: 6px;
          background: var(--gray-500);
          opacity: 0.37;
        }
        ::-webkit-scrollbar-thumb {
          background: var(--gray-500);
          opacity: 0.12;
        }
      }
    }

    &.ng-select-opened {
      .ng-select-container {
        background-color: var(--white) !important;
        @include box-shadow-input-select(var(--shadow-brand));
      }
    }
  }
}
.icon-circle {
  width: 16px;
  height: 16px;
}
::ng-deep .box-tooltip {
  width: 180px;
  .ant-tooltip-inner {
    text-align: left;
  }
}

.completed {
  padding: 2px 6px;
  background-color: var(--bg-success-tonal-normal, #e0f8e9);
  @include fontSetup(var(--fg-success, #40c174), 1.2rem, 1.6rem, normal, 500);
}

.scheduled,
.rescheduled {
  padding: 2px 6px;
  background-color: var(--bg-in-progress-tonal-default, #dfeafa);
  @include fontSetup(var(--fg-info, #4a7ce0), 1.2rem, 1.6rem, normal, 500);
}

.cancelled {
  padding: 2px 6px;
  background-color: var(--bg-danger-tonal-normal, #ffe1e7);
  @include fontSetup(var(--fg-danger, #e1024f), 1.2rem, 1.6rem, normal, 500);
}

::ng-deep
  nz-modal-container
  .ant-modal
  .ant-modal-content
  .ant-modal-footer:has(.footer-modal) {
  padding: 16px 24px;
}

::ng-deep nz-modal-container .sync-modal .ant-modal-body {
  overflow: auto;
  max-height: 635px;
}

:host::ng-deep .box-field-date .trudi-picker-error {
  @include fontSetup(var(--fg-neutral-weaker, #999), 14px, 20px, normal, 500);
}

::ng-deep
  .time-picker-inspection.invalid-time
  .date-time-picker
  .input-wrapper
  input:focus:not(.input-error) {
  line-height: unset !important;
  box-shadow: var(--shadow-brand) !important;
}

::ng-deep
  time-picker.invalid-time
  .input-wrapper
  .btn-group.dropdown-show
  .dropdown-button {
  box-shadow: var(--shadow-brand) !important;
}

::ng-deep
  .time-picker-inspection.fieldSuccess
  .date-time-picker
  .input-wrapper
  input:focus:not(.input-error) {
  line-height: unset !important;
  box-shadow: var(--shadow-brand) !important;
}

::ng-deep .date.trudi-picker.trudi-picker-disabled {
  background: var(--bg-neutral-tonal-strongest, #d8dcdf) !important;
}

::ng-deep
  .time-picker-inspection.fieldDisable
  .date-time-picker
  .input-wrapper
  .dropdown-button {
  background: var(--bg-neutral-tonal-strongest, #d8dcdf) !important;
  color: var(--fg-neutral-weakest, #b9bec0) !important;
  cursor: not-allowed !important;
}
::ng-deep
  .inspection-details
  .ng-select.ng-select-disabled
  .ng-value
  .ng-star-inserted {
  @include fontSetup(
    var(--fg-neutral-weakest, #b9bec0),
    14px,
    20px,
    normal,
    500
  );
}
::ng-deep
  .inspection-details
  .ng-select.ng-select-disabled
  > .ng-select-container {
  background-color: var(--bg-neutral-tonal-strongest, #d8dcdf) !important;
  cursor: not-allowed !important;
  .ng-input > input {
    @include fontSetup(
      var(--fg-neutral-weakest, #b9bec0),
      14px,
      20px,
      normal,
      500
    );
    cursor: not-allowed !important;
  }
}

::ng-deep .inspection-details {
  .trudi-picker:hover,
  .trudi-picker-focused {
    border-color: unset;
  }
  .trudi-picker {
    transition: unset !important;
    height: 40px;
  }
  .trudi-picker-error {
    background: var(--gray-200);
  }
  .date .trudi-picker-input > input[disabled] {
    @include fontSetup(
      var(--fg-neutral-weakest, #b9bec0),
      14px,
      20px,
      normal,
      500
    );
  }
}

::ng-deep {
  .time-picker-inspection {
    input {
      &.disabled {
        @include fontSetup(var(--gray-700) !important, 14px, 20px, normal, 500);
        background: var(--gray-50) !important;
      }
    }
  }
}

.sync-modal {
  .content-modal {
    padding: 20px 24px;
    overflow: auto;
    max-height: 65vh;
  }

  .select-ingoing-inspection-header-modal {
    padding: 16px 20px;
    width: 100%;
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;

    .header-modal {
      flex: 1;
    }

    .close-btn {
      height: 40px;
      width: 40px;
      background: transparent;
      border: unset;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border: 1px solid var(--gray-200) !important;
        background: var(--gray-100, #e7eaed) !important;
      }
      &:active {
        border: 1px solid var(--gray-200);
        background: var(--gray-200) !important;
      }
    }
  }

  .footer-modal {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray-100);
    background: transparent;
    border-radius: 0 0 8px 8px;

    .button-footer {
      display: flex;
      gap: 12px;
    }
  }
}
