<resizable-modal-popup
  *ngIf="isShowModal"
  [modalId]="modalId"
  [show]="isShowModal"
  [showTitle]="true"
  [iconName]="'ptLogo'"
  [title]="'Routine inspection'"
  [draggable]="true"
  [hasBackdrop]="false"
  [resizable]="false"
  [heightCustom]="'auto'"
  [widthCustom]="624"
  [styleIcon]="null"
  [classIconTitle]="null"
  [styleCustom]="{ backgroundColor: '#FFFFFF', border: 0 }"
  [footerTemplate]="footerModal"
  (onCancel)="handleCloseModal()"
  [isCustomMoveable]="true"
  class="sync-routine-inspection-modal">
  <div class="content-modal">
    <div
      [formGroup]="inspectionForm"
      class="content-tenancy-invoice d-flex flex-tenancy flex-dir-column gap-24">
      <div class="inspection-details">
        <div
          class="trudi-form-control tenancy-dropdown d-flex flex-dir-column gap-8">
          <div>
            <div class="wrap-invoice-name d-flex align-items-center gap-4">
              <div
                class="trudi-input-label d-flex align-items-center gap-4 w-100">
                <inspection-popup-title
                  [status]="status"
                  [disabled]="isConsole || syncStatus === syncPropertyTree.INPROGRESS"
                  [inspectionData]="this.prevData"
                  (cancelInspection)="handleCancelOrCloseInspection(false)"
                  (closeInspection)="handleCancelOrCloseInspection(true, $event)"></inspection-popup-title>
              </div>
            </div>
            <div class="trudi-input-label">Select tenancy</div>
            <trudi-form-control [control]="tenancyId">
              <ng-select
                id="document-list"
                class="share-ng-select"
                [items]="listOfTenancy"
                formControlName="tenancyId"
                bindValue="id"
                bindLabel="name"
                [clearable]="true"
                [ngClass]="{'red-border': tenancyId.invalid && (tenancyId.dirty ||  tenancyId.touched)}"
                [virtualScroll]="true"
                [searchable]="true"
                [editableSearchTerm]="true"
                notFoundText="No results found">
                <ng-template
                  ng-option-tmp
                  let-item$="item$"
                  let-search="searchTerm">
                  <div class="y-center justify-content-between flex-1">
                    <div class="d-flex">
                      <div>
                        <span class="file-name d-block"> {{item$.label}} </span>
                      </div>
                    </div>
                    <trudi-icon
                      *ngIf="item$.selected"
                      icon="checkSuccess"
                      svgClass="size-16"
                      viewBox="auto"></trudi-icon>
                  </div>
                </ng-template>
              </ng-select>
            </trudi-form-control>
          </div>
        </div>
        <div class="trudi-form-group d-flex flex-dir-column">
          <div class="trudi-form-control">
            <div class="trudi-input-label">Date</div>
            <trudi-form-control [control]="date">
              <trudi-date-picker
                class="date"
                formControlName="date"
                [ngClass]="{'error-field': date.invalid && (date.dirty ||  date.touched)}"
                [breakNochange]="true"
                [trudiDisabled]="disableTimeChange"
                [defaultValue]="inspectionForm.get('date').value"
                (trudiOnOpenChange)="triggerInputTouched($event, 'date')">
              </trudi-date-picker>
            </trudi-form-control>
          </div>
          <div class="time d-flex gap-20">
            <div class="d-flex flex-dir-column w-50">
              <div class="trudi-input-label">Start time</div>
              <trudi-form-control>
                <time-picker
                  class="time-picker-inspection w-100"
                  [value]="startTime.value"
                  [rangeFrom]="rangeFrom"
                  [rangeTo]="rangeTo"
                  [position]="positionTimePicker"
                  [label]="'--:--'"
                  [isFrom]="true"
                  formControlName="startTime"
                  [ngClass]="{'invalid-time': startTime.invalid && (startTime.dirty ||  startTime.touched), 'fieldSuccess': startTime.value, 'fieldDisable': disableTimeChange}"
                  [disableTimeChange]="disableTimeChange"
                  (isFocus)="triggerInputTouched($event, 'startTime')"
                  [readonly]="false"
                  (onChangeHour)="handleChangeStartHour($event)">
                </time-picker>
              </trudi-form-control>
            </div>
            <div class="d-flex flex-dir-column w-50">
              <div class="trudi-input-label">End time</div>
              <trudi-form-control>
                <time-picker
                  class="time-picker-inspection w-100"
                  [value]="endTime.value"
                  [rangeFrom]="rangeFrom"
                  [rangeTo]="rangeTo"
                  [position]="positionTimePicker"
                  [label]="'--:--'"
                  [disableTimeChange]="disableTimeChange"
                  formControlName="endTime"
                  (isFocus)="triggerInputTouched($event, 'endTime')"
                  [ngClass]="{'invalid-time': endTime.invalid && (endTime.dirty || endTime.touched), 'fieldSuccess': endTime.value, 'fieldDisable': disableTimeChange}"
                  [isTo]="true"
                  [readonly]="false"
                  (onChangeHour)="handleChangeEndHour($event)">
                </time-picker>
              </trudi-form-control>
            </div>
          </div>
        </div>
      </div>
      <div class="inspection-outputs">
        <div>
          <div class="wrap-invoice-name title-sync d-flex gap-4">
            <h4 class="title trudi-input-label">Inspection outputs</h4>
            <span
              class="icon-circle"
              nz-tooltip
              nzTooltipTitle="Inspection outputs can be edited when inspection has moved to completed status."
              nzTooltipOverlayClassName="box-tooltip">
              <trudi-icon
                svgClass="size-16"
                viewBox="auto"
                icon="toolTip2"></trudi-icon>
            </span>
          </div>
          <div class="d-flex flex-dir-column gap-12">
            <div class="value-output">
              <div class="trudi-input-label">Tenant notes</div>
              <trudi-form-control [control]="tenantNotes">
                <textarea
                  #textarea
                  type="text"
                  rows="4"
                  maxlength="750"
                  [ngClass]="{'disabled-field': status === statusPropertyTree.CLOSED || (((status !== statusPropertyTree.CONDUCTED && status !== statusPropertyTree.CLOSED) || syncStatus === syncPropertyTree.INPROGRESS) && !statusInspectionExist)}"
                  autosize
                  formControlName="tenantNotes"
                  data-e2e="summary-textarea"></textarea>
              </trudi-form-control>
            </div>
            <div class="value-output">
              <div class="trudi-input-label">Actions</div>
              <trudi-form-control [control]="action">
                <textarea
                  #textarea
                  type="text"
                  rows="4"
                  maxlength="750"
                  [ngClass]="{'disabled-field': status === statusPropertyTree.CLOSED || (((status !== statusPropertyTree.CONDUCTED && status !== statusPropertyTree.CLOSED) || syncStatus === syncPropertyTree.INPROGRESS) && !statusInspectionExist)}"
                  autosize
                  formControlName="action"
                  data-e2e="summary-textarea"></textarea>
              </trudi-form-control>
            </div>
            <div class="value-output">
              <div class="trudi-input-label">Owner notes</div>
              <trudi-form-control [control]="ownerNotes">
                <textarea
                  #textarea
                  type="text"
                  rows="4"
                  maxlength="750"
                  [ngClass]="{'disabled-field': status === statusPropertyTree.CLOSED || (((status !== statusPropertyTree.CONDUCTED && status !== statusPropertyTree.CLOSED) || syncStatus === syncPropertyTree.INPROGRESS) && !statusInspectionExist)}"
                  autosize
                  formControlName="ownerNotes"
                  data-e2e="summary-textarea"></textarea>
              </trudi-form-control>
            </div>
            <div class="value-output">
              <div class="trudi-input-label">Follow-up Items</div>
              <trudi-form-control [control]="followUpItems">
                <div #textAreaWrapper class="content relative">
                  <textarea
                    #textarea
                    type="text"
                    rows="4"
                    maxlength="750"
                    [ngClass]="{'disabled-field': status === statusPropertyTree.CLOSED || (((status !== statusPropertyTree.CONDUCTED && status !== statusPropertyTree.CLOSED) || syncStatus === syncPropertyTree.INPROGRESS) && !statusInspectionExist)}"
                    autosize
                    formControlName="followUpItems"
                    data-e2e="summary-textarea"></textarea>
                </div>
              </trudi-form-control>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #footerModal>
    <div class="footer-modal">
      <pt-widget-sync-status
        [syncStatus]="syncStatus"
        [lastTimeSynced]="lastTimeSynced"></pt-widget-sync-status>
      <div class="button-footer">
        <button
          *ngIf="!isEditInspection || isUpdateRoutineInspectionModal"
          class="button-back"
          (click)="handleBack()">
          <div class="text-btn-back">Back</div>
        </button>
        <button
          *ngIf="!isShowButtonSync.includes(status)"
          [disabled]="isConsole || syncStatus === syncPropertyTree.INPROGRESS || isArchiveMailbox"
          [ngClass]="{'disabled-sync': syncStatus === syncPropertyTree.INPROGRESS}"
          class="button-sync"
          (click)="handleSync()"
          [appE2E]="'pt-widget-routine-inspection'">
          <div class="text-btn-sync no-pointer-event">
            Sync to Property Tree
          </div>
        </button>
      </div>
    </div>
  </ng-template>
</resizable-modal-popup>
