<div class="filter-portfolio">
  <div class="d-flex flex-dir-column gap-8 portfolio-container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-4">
        <span>Portfolio</span>
        <div
          *ngIf="selectedList.length"
          class="portfolio-count d-flex justify-content-center">
          <span>{{selectedList.length}}</span>
        </div>
      </div>
      <trudi-select-dropdown-v2
        #dropdown
        overlayClassName="custom-select-dropdown-portfolio"
        placeholder="Search"
        bindValue="agencyAgentId"
        bindLabel="label"
        [clearable]="true"
        [searchable]="true"
        [items]="portfolios"
        [multi]="true"
        [virtualScroll]="true"
        [(ngModel)]="selectedList"
        [showArrowIcon]="false"
        [showClearIcon]="false"
        (valueChange)="handleChangeSelectedList($event)">
        <ng-template trudi-select-dropdown-title-tmp>
          <trudi-icon
            class="icon-expand"
            [icon]="'chevronDown'"
            [style]="{'width.px': 20, 'height.px': 20}"></trudi-icon>
        </ng-template>
      </trudi-select-dropdown-v2>
    </div>
  </div>
</div>
