::ng-deep .model-breach-notice {
  .ant-modal {
    &-header {
      display: none !important;
    }

    &-body {
      padding: 10px !important;
    }

    &-footer {
      display: none !important;
    }
  }
}
