.content-wrapper {
    padding: 14px;
    display: flex;
    align-items: flex-start;
    .success-content {
        margin-left: 24px;
        &-header {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: var(--gray-700);
        }
        &-des {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: var(--gray-500);
        }
    }
}