@import 'function';

.list-notification-wrapper {
  position: absolute;
  background-color: var(--white);
  z-index: 1000;
  width: 372px;
  top: 46px;
  right: 0;
  border-radius: 12px;
  overflow: hidden;
  cursor: auto;
  filter: drop-shadow(0px 1px 8px var(--bg-overlay-light))
    drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 25px 24px rgba(0, 0, 0, 0.05));

  .header-wrapper {
    padding: 16px;
    .left-btn-wrapper {
      gap: 8px;

      .btn {
        &-unread {
          min-width: unset;
          width: 74px !important;
        }

        &-viewall {
          min-width: 81px !important;
        }
      }
    }

    .mark-read-btn {
      cursor: pointer;
      margin-top: auto;
      margin-bottom: unset;
      @include fontSetup(var(--gray-500), 12px, 14px, normal, 400);
      text-decoration-line: underline;
    }
  }

  .seperator {
    height: 0px;
    border-top: 0.5px solid var(--bg-opacity-stronger);
  }

  .list {
    max-height: 80vh;
    overflow-y: overlay;
    &::-webkit-scrollbar-track {
      position: absolute;
      background: transparent;
    }
    .date {
      padding: 8px 12px;
      background-color: var(--gray-200);
      border-top: 0.5px solid var(--bg-opacity-stronger);
      border-bottom: 0.5px solid var(--bg-opacity-stronger);
      @include fontSetup(var(--gray-500), 12px, 20px, normal, 500);
    }

    .divider {
      margin: 0 12px;
      height: 0px;
      border-top: 0.5px solid var(--bg-opacity-stronger);
    }
    &-empty {
      height: 244px;
      padding-bottom: 22px;
      &-icon {
        padding-top: 20px;
      }
      &-text {
        margin-top: 25px;
        @include fontSetup(var(--bg-overlay-dark), 12px, 16px, normal, 500);
      }
      .text-bold {
        @include fontSetup(var(--gray-500), 12px, 16px, normal, 500);
      }
      p {
        margin-bottom: 0;
        &:first {
          margin-bottom: 4px;
        }
      }
    }
  }
}
