<div
  class="whatsapp-message-default"
  [ngClass]="{
    'whatsapp-message-default-sending': isSending,
    'whatsapp-message-default-error': message.isError,
    'whatsapp-message-default-user': message.userSendType === EUserSendType.USER
  }">
  <div class="message-wrapper">
    @if(message.messageReply) {
    <whatsapp-reply-header
      [message]="message"
      [currentConversation]="currentConversation"></whatsapp-reply-header>
    <message-reply
      [isSending]="isSending"
      [message]="message.messageReply"
      [position]="message.userSendType === EUserSendType.USER ? 'left' : 'right'">
    </message-reply>
    }
    <div class="message-content">
      @if(message.languageCode && message.languageCode !== 'en' &&
      message.languageCode !== 'und') {
      <div class="message-translation-label">
        <language-translation-label
          [messagesTranslate]="message.messagesTranslate"
          [inputLanguage]="message.languageCode"></language-translation-label>
      </div>
      }
      <div
        [triggerTextSelectionAddPolicy]="message.userId !== trudiUserId"
        class="message-content-text"
        [innerHTML]="!message.languageCode || message.languageCode === 'en' ? message.message : message.messagesTranslate"></div>
      @if (fileMessage) {
      <app-message-file
        [canReply]="isUserVerified"
        [message]="message"
        [isSending]="message?.isSending || message?.isError"
        [messageFile]="message.isShowFile ? fileMessage : null"
        [isShowActionButtonInside]="true"
        [isShowActionButton]="true"
        [isShowFile]="message.isShowFile"
        [isAppMessage]="true"
        [isLoadingFile]="!fileMessage.mediaLink"
        (fileOnClicked)="handleEmitEventFile(EFileEventEmitType.MANAGE_CAROUSEL, $event)"
        (showSelectPeople)="handleEmitEventFile(EFileEventEmitType.FORWARD_ATTACHMENT, $event)"
        (fileEmit)="handleEmitEventFile(EFileEventEmitType.FILE_EMIT , $event)"
        class="message-file"></app-message-file>
      } @if(message.messagesTranslate && message.languageCode &&
      message.languageCode !== 'en' && message.languageCode !== 'und') {
      <div>
        <language-original-content
          [senderType]="message.userSendType === EUserSendType.USER ? 'user' : 'admin'"
          [content]="message.message"></language-original-content>
      </div>
      }
    </div>
  </div>
</div>
