@import 'function';

.trudi-delete-scheduled-msg {
  &-header {
    display: flex;
    padding: 6px 14px 16px 14px;
    &-title {
      @include fontSetup(var(--gray-700), 18px, 28px, normal, 600);
      margin: 0 0 0 16px;
    }
    .cannot-text {
      @include fontSetup(var(--gray-500), 1.4rem, 2rem, normal, 500);
      margin: 0 0 0 16px;
    }
  }

  &-footer {
    padding: 20px 14px 14px 10px;
    &-btn-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: flex-end;
    }
  }
}
