<tiny-editor
  [from]="TinyEditorOpenFrom.AppChat"
  [createMessageFrom]="ECreateMessageFrom.APP_MESSAGE"
  [text]="prefillText"
  placeholder="Type your message here"
  [toolbarPosition]="'BOTTOM'"
  [isEmailSignature]="false"
  [isShowEmailSignature]="false"
  [inlineMessage]="true"
  [isAppReply]="composeType === ComposeEditorType.REPLY"
  [listCodeOptions]="listDynamicParams"
  [isShowBackBtn]="false"
  [isShowEmbedCodeOptionsFunction]="configs?.body?.tinyEditor?.isShowDynamicFieldFunction"
  [scheduledDate]="configs?.body?.typeSendMsg === 'Schedule for send' && configs?.body?.timeSchedule ? configs?.body?.timeSchedule : null"
  [enableAiGenerateMsgCopy]="true"
  [isReplaceDynamicParamWithData]="true"
  [currentProperty]="currentProperty"
  (value)="handleValueChange($event)"
  (onChangeSendOption)="handleChangeSendOption($event)"
  (submitSend)="handleSubmit($event)"
  (addFileComputer)="editorAddFileComputer()"
  (addContactCard)="editorAddContactCard()"
  (contentHeightChange)="handleContentHeightChange($event)"
  (addFileCRM)="editorAddFileFromCrm()"
  [isDisabledSendBtn]="isDisableSendBtn"
  [deleteInlineType]="deleteInlineType"
  [defaultSelectedSendOption]="defaultBtnOption"
  [sendOptionsToRemove]="sendOptionsToRemove"
  [errorMsg]="errorMsg"
  [timeSecond]="timeSecond"
  [date]="date"
  class="app-inline-container"
  #editorContainer
  (onBlur)="onBlur()"
  (onFocus)="onFocus($event)"></tiny-editor>

<trudi-add-contact-card
  *ngIf="contactCardPopupState.addContactCard"
  [visible]="contactCardPopupState.addContactCard"
  [openFrom]="configs?.inputs?.openFrom"
  [configs]="attachmentTextEditorConfigs"
  [listContactCard]="configs?.inputs?.listContactCard"
  [form]="sendMsgForm"
  [closable]="false"
  [selectedContactCard]="selectedContactCard"
  (onTrigger)="onTriggerAddContactCard()"
  (changeValue)="handleChangeFormValue('contact')"
  (onClose)="onCloseAddContactCard()"></trudi-add-contact-card>

<upload-from-crm
  [configs]="attachmentTextEditorConfigs"
  (onTrigger)="onTriggerAddFilesFromCrm()"
  (onClose)="onCloseUploadFromCRM()"
  (changeValue)="handleChangeFormValue('crmFile')"
  *ngIf="uploadFileFromCRMPopupState.uploadFileFromCRM"></upload-from-crm>

<div
  *ngIf="popupState.addReiFormOutside"
  [show]="popupState.addReiFormOutside"
  [position]="ModalPopupPosition.center">
  <trudi-rei-form-card></trudi-rei-form-card>
</div>
