<div *ngIf="toolbars?.length" class="canlendar-toolbar" @toolbarAnimation>
  <ng-container *ngFor="let item of toolbars">
    <div
      class="toolbar-item"
      [appE2E]="item?.dataE2E || ''"
      [ngClass]="{
        'count-selected cursor-default': item?.count,
        'disable-field': item?.disabled
      }"
      (click)="item?.action?.()">
      <ng-container *ngIf="item?.count; else icon">
        <span class="count">{{ item?.count }}</span>
      </ng-container>
      <ng-template #icon>
        <trudi-icon
          class="toolbar-icon no-pointer-event"
          [icon]="item.icon"
          [style]="{ 'width.px': 20, 'height.px': 20 }"></trudi-icon>
      </ng-template>
      <div *ngIf="item?.label" class="d-flex text-center no-pointer-event">
        {{ item?.label }}
      </div>
    </div>
  </ng-container>
</div>
