.section {
  font-size: 14px;
  font-weight: 400;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-text {
    color: var(--fg-neutral-weaker, #85888e);
    padding-right: 8px;

    &-content {
      color: var(--fg-neutral-stronger, #333741);
    }
  }
}
