.auth-login-wrapper {
    .form-password {
        position: relative;
    }

    .input-error {
        border: 1px solid var(--danger-500);
        outline: 2px solid rgba(225, 2, 79, 0.6) !important;
        margin-bottom: 6px;
    }

    input::-ms-reveal,
    input::-ms-clear {
      display: none;
    }
}
