<div class="auth-login-wrapper">
  <div class="auth-logo">
    <img src="assets/icon/trudi-logo.svg" alt="logo" />
  </div>
  <h3 class="auth-hero">Next,</h3>
  <p class="auth-title">Please set a secure password.</p>

  <div class="auth-form-wrapper">
    <div class="auth-form">
      <div class="auth-form-control form-password">
        <div
          class="form-control d-flex gap-8 justify-content-between"
          [ngClass]="{
            'show-password': showPassword,
            'input-error': inputs.password.error,
            'input-focus': passwordFocus && !inputs?.password?.error
          }"
          appOutsideClickListener
          (clickOutside)="passwordFocus = false">
          <input
            (keyup)="onchangeInput($event)"
            type="password"
            name="password"
            class="auth-form-input input-password border-rad-8"
            placeholder="Enter your password"
            id="auth-input-password"
            (focus)="passwordFocus = true"
            #password />
          <div (click)="toggleShowPassword()">
            <img
              class="size-24"
              [src]="showPassword ? 'assets/images/icons/eye-show.svg' : 'assets/images/icons/eye.svg'" />
          </div>
        </div>
        <div *ngIf="inputs.password.error" class="auth-validate-msg">
          <img src="/assets/icon/tool-tip-red.svg" />
          Minimum 8 characters, must include a capital and lowercase letter and
          a number or a symbol
        </div>
      </div>
      <div class="auth-form-control form-password">
        <div
          class="form-control d-flex gap-8 justify-content-between"
          [ngClass]="{
            'show-password': showConfirmPassword,
            'input-error': inputs.confirmPassword.error,
            'input-focus': confirmPasswordFocus && !inputs?.confirmPassword?.error
          }"
          appOutsideClickListener
          (clickOutside)="confirmPasswordFocus = false">
          <input
            (keyup)="onchangeInput($event)"
            type="password"
            name="confirmPassword"
            class="auth-form-input input-password border-rad-8"
            placeholder="Confirm password"
            id="auth-input-password"
            (focus)="confirmPasswordFocus = true"
            #confirmPassword />
          <div (click)="toggleShowConfirmPassword()">
            <img
              class="size-24"
              [src]="showConfirmPassword ? 'assets/images/icons/eye-show.svg' : 'assets/images/icons/eye.svg'" />
          </div>
        </div>
        <div *ngIf="inputs.confirmPassword.error" class="auth-validate-msg">
          <img src="/assets/icon/tool-tip-red.svg" />
          Please make sure your passwords match
        </div>
      </div>

      <div class="d-flex justify-content-end" *ngIf="errorMessage">
        <div class="auth-validate-msg">
          <img src="/assets/icon/tool-tip-red.svg" alt="" />
          {{errorMessage}}
        </div>
      </div>
      <div class="auth-btn-wrapper">
        <button
          class="auth-btn auth-btn-primary"
          [disabled]="checkValid()"
          (click)="resetPassword()"
          [style.cursor]="checkValid() ? 'not-allowed' : 'pointer'">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
