<div class="wrapper-skeleton-task-editor-content">
  <ul class="skeleton-tree">
    <li class="first-node">
      <div class="d-flex align-items-center">
        <div class="skeleton-container min-w-400 skeleton-bg py-12">
          <div class="skeleton-step-section">
            <nz-skeleton
              [nzParagraph]="{ rows: 0 }"
              [nzActive]="true"></nz-skeleton>
          </div>
        </div>
        <div class="justify-content-end align-items-center">
          <div class="skeleton-tree-node-button">
            <nz-skeleton
              [nzParagraph]="{ rows: 0 }"
              [nzActive]="true"></nz-skeleton>
          </div>
        </div>
      </div>
      <ul>
        <li class="custom-first-tree-node">
          <div class="d-flex align-items-center">
            <div class="skeleton-container second-node skeleton-bg py-12">
              <div class="skeleton-step-section">
                <nz-skeleton
                  [nzParagraph]="{ rows: 0 }"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
          <ul>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <div class="skeleton-container second-node skeleton-bg py-12">
              <div class="skeleton-step-section">
                <nz-skeleton
                  [nzParagraph]="{ rows: 0 }"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
          <ul>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="d-flex align-items-center">
            <div class="skeleton-container second-node skeleton-bg py-12">
              <div class="skeleton-step-section">
                <nz-skeleton
                  [nzParagraph]="{ rows: 0 }"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
          <ul>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
            <li class="children-node">
              <div class="d-flex align-items-center">
                <div class="skeleton-children-node">
                  <nz-skeleton
                    [nzParagraph]="{ rows: 0 }"
                    [nzActive]="true"></nz-skeleton>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="skeleton-add-button">
    <nz-skeleton [nzParagraph]="{ rows: 0 }" [nzActive]="true"></nz-skeleton>
  </div>
</div>
