@import 'function';

::ng-deep .step-details-panel {
  z-index: 1000 !important;

  .ant-popover-content {
    .ant-popover-arrow {
      .ant-popover-arrow-content {
        box-shadow: unset;
        &::before {
          background-color: var(--border-neutral-darker);
        }
      }
    }

    .ant-popover-inner {
      width: 400px;
      max-height: 726px;
      overflow: hidden;
      border: 2px solid var(--border-neutral-darker);
      border-radius: 16px;
      box-shadow: 0px 8px 32px 2px #0c111d14, 0px 0px 16px 0px #0c111d0f;

      .ant-popover-inner-content {
        padding: 16px;
        width: 100%;
      }
    }
  }
}

.wraper-step {
  margin-bottom: 12px;
}
