@import 'function';

.notification-wrapper {
  background: var(--brand-500);
  border: 1px dashed var(--brand-500);
  padding: 8px 12px;
}
.title {
  @include fontSetup(var(--gray-700), 14px, 20px, normal, 600);
}

.note {
  @include fontSetup(rgba(32, 32, 32, 0.6), 12px, 18px, normal, 500);
}
