.email-view-index-container {
  display: flex;
  flex-direction: column;

  &::ng-deep {
    .search-wrapper {
      width: 100% !important;
    }

    .filter-container {
      display: block !important;
      gap: 0 !important;
      padding: 12px !important;
      border-bottom: 1px solid var(--border-neutral-dark);
    }

    filter-dropdown {
      display: none;
    }

    .message-list {
      padding: 0px !important;
    }
  }

  height: 100%;
}