<div
  class="user_field_wrapper"
  *ngIf="originFields.length else noUserDefinedFields">
  <div class="search-wrapper" [formGroup]="searchForm">
    <trudi-form-control>
      <trudi-text-field
        size="large"
        iconLeft="iconSearch"
        placeholder="Search"
        [disabled]="disabled"
        [clearable]="true"
        formControlName="searchText"></trudi-text-field>
    </trudi-form-control>
  </div>
  <div [formGroup]="form" class="field-group">
    <ng-container *ngIf="showFields.length > 0; else noResult">
      <ng-container *ngFor="let field of showFields; let i = index">
        <div [ngSwitch]="field?.fieldType">
          <div *ngSwitchCase="EFieldType.DROPDOWN">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-single-select
                    formControlName="selectedValues"
                    [items]="field?.option"
                    className="single-select"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    [enableSearch]="false"></trudi-single-select>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.CHECKED_LIST">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-multi-select
                    [items]="field?.option"
                    class="user-defined-selection"
                    className="multi-select"
                    dropdownPosition="auto"
                    appendTo="body"
                    bindValue="value"
                    bindLabel="label"
                    formControlName="selectedValues"
                    [totalOptions]="field?.option.length"
                    #selection>
                    <ng-template trudi-footer-tmp>
                      <div
                        class="p-2 clear-btn cursor-pointer"
                        (click)="selection.clearAll()">
                        Clear all
                      </div>
                    </ng-template>
                    <ng-template
                      trudi-option-tmp
                      let-item="item"
                      let-searchTerm="searchTerm"
                      let-item$="item$">
                      <div
                        class="d-flex justify-content-between align-items-center w-100 pd-12">
                        <div class="d-flex flex-dir-column gap-4 text-ellipsis">
                          <span
                            [ngOptionHighlight]="searchTerm ? searchTerm : ''"
                            class="sendTo-label text-ellipsis"
                            >{{item.label}}</span
                          >
                        </div>
                        <div class="d-flex align-items-center">
                          <trudi-checkbox
                            [disabled]="item.disabled"
                            [(ngModel)]="item$.selected"
                            (ngModelChange)="handleCheckboxChange($event, item, field?.formIndex)"
                            [ngModelOptions]="{standalone: true}"></trudi-checkbox>
                        </div>
                      </div>
                    </ng-template>
                  </trudi-multi-select>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.YESNO">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-single-select
                    formControlName="value"
                    [items]="yesNoOption"
                    className="single-select"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    [enableSearch]="false"></trudi-single-select>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.DATE">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-date-picker
                    [breakNochange]="true"
                    formControlName="value"
                    [class.trudi-picker-error]="form.get([field?.formIndex])?.get('value')?.invalid &&
                      !form.get([field?.formIndex])?.get('value').value &&
                      form.get([field?.formIndex])?.get('value').errors['required']">
                  </trudi-date-picker>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.NUMERIC">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-number-field
                    size="large"
                    [maxCharacter]="10"
                    [maskPattern]="field.maskPattern"
                    [isNumeric]="true"
                    formControlName="value">
                  </trudi-number-field>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.FILE">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <upload-file-button
                    (getListFile)="onGetSelectedFile($event, field?.formIndex)"
                    [acceptTypeFile]="LIST_ATTACH_TYPE_USER_DEFINED"
                    [listFileData]="form.get([field?.formIndex])?.get('file')?.value"
                    [disable]="disabled"
                    [disableRemoveButton]="disabled"
                    [isFromUserDefineFields]="true"
                    [showFileSize]="false"
                    [showPopupWarning]="true"
                    [icon]="form.get([field?.formIndex])?.get('file')?.value?.length ? '' : 'uploadLocal'"
                    [multipleFile]="false"
                    [showFileTooLarge]="false"
                    [ngClass]="{'file-button': true, 'changes-status': form.get([field?.formIndex])?.get('file')?.value?.length}"
                    [label]="form.get([field?.formIndex])?.get('file')?.value?.length ? 'Change file' : 'Upload file'">
                  </upload-file-button>
                  <input
                    style="display: none"
                    type="text"
                    formControlName="file" />
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.HYPERLINK">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control
                  [errors]="[{controlName: 'hyperlink', errorMessage: 'Invalid format'}]">
                  <trudi-text-field
                    size="large"
                    [maxCharacter]="MAX_CHARACTER"
                    formControlName="value"></trudi-text-field>
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="EFieldType.IMAGE">
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <upload-file-button
                    (getListFile)="onGetSelectedFile($event, field?.formIndex)"
                    [listFileData]="form.get([field?.formIndex])?.get('file')?.value"
                    [acceptTypeFile]="LIST_IMAGE_TYPE_USER_DEFINED"
                    [disable]="disabled"
                    [disableRemoveButton]="disabled"
                    [isFromUserDefineFields]="true"
                    [showFileSize]="false"
                    [icon]="form.get([field?.formIndex])?.get('file')?.value?.length ? '' : 'uploadLocal'"
                    [showPopupWarning]="true"
                    [warningContent]="imageWarningText"
                    [multipleFile]="false"
                    class="upload-button"
                    [showFileTooLarge]="false"
                    [ngClass]="{'file-button': true, 'changes-status': form.get([field?.formIndex])?.get('file')?.value?.length}"
                    [label]="form.get([field?.formIndex])?.get('file')?.value?.length ? 'Change file' : 'Upload file'">
                  </upload-file-button>
                  <input
                    style="display: none"
                    type="text"
                    formControlName="file" />
                </trudi-form-control>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault>
            <div [formGroupName]="field?.formIndex" class="single-field">
              <span class="name"
                >{{ field?.name }} {{ field?.isRequired ? '*' : '' }}</span
              >
              <div class="value">
                <trudi-form-control>
                  <trudi-text-field
                    size="large"
                    [maxCharacter]="MAX_CHARACTER"
                    (triggerEventBlur)="handleBlurCheckAllWhitespace(field?.formIndex)"
                    formControlName="value"></trudi-text-field>
                </trudi-form-control>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noResult>
      <ng-container>
        <div class="no-result-text">
          <div class="header-text">No results found</div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #noUserDefinedFields>
  <div class="no-field">
    <p>No User defined fields set in Rent Manager</p>
  </div>
</ng-template>
