@import 'function';
.efficiency-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .section-title {
    @include fontSetup(
      var(--fg-neutral-stronger, #3d3d3d),
      18px,
      28px,
      normal,
      600
    );
  }
  .chart-line-wrapper {
    width: 100%;
  }
  .no-data-found {
    height: 500px;
  }
  .no-data-available {
    border-radius: 8px;
    border: 1px solid var(--border-neutral-dark, #d8dcdf);
    height: 364px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      text-align: center;
      @include fontSetup(
        var(--fg-neutral-normal, #646464),
        14px,
        20px,
        italic,
        400
      );
    }
  }
}
.default-tooltip,
.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.98px;
  background: var(--bg-base);
  padding: 8px;
  border-radius: 8px;
  border: 0.991px solid var(--border-neutral-light, #f2f5f7);
  box-shadow: 0px 13.86849px 35.66184px 0px rgba(0, 0, 0, 0.13),
    0px 1.98121px 11.88728px 0px rgba(0, 0, 0, 0.08);
  &--date {
    @include fontSetup(var(--fg-neutral-normal), 12px, 16px, normal, 500);
  }
  &--data {
    @include fontSetup(var(--fg-neutral-weaker, #999), 12px, 16px, normal, 500);
  }
  &--property {
    @include fontSetup(
      var(--fg-neutral-strongest, #202020),
      16px,
      24px,
      normal,
      600
    );
  }
  &--trend {
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 2px;
  }
  ::ng-deep {
    .data-trend-up {
      color: var(--fg-success);
    }
    .data-trend-down {
      color: var(--fg-danger);
    }
    .no-data-trend {
      color: var(--fg-neutral-weakest);
      & > img {
        display: none;
      }
    }
  }
}
