@import 'function';

.calendar-header {
  padding: 16px 16px 8px;

  ::ng-deep trudi-text-field {
    .trudi-text-field-wrapper {
      padding: 8px 12px !important;
      .close-icon-wrapper {
        cursor: pointer;
      }
    }
  }

  &__filter {
    min-width: 512px;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 8px;
    @include breakpoint-range(small, medium) {
      min-width: auto !important;
    }
  }
  &__search {
    max-width: 240px;
    flex-grow: 1;
  }

  &__month-picker {
    .calender-today {
      width: 78px;
    }
  }
}

.calendar-header__picker {
  display: flex;
  align-items: center;
  min-width: 320px;
  .show-event {
    padding-right: 10px;
  }
  .title {
    @include fontSetup(var(--gray-600), 12px, 16px, normal, 500);
  }
}
