@import 'function';

::ng-deep {
  .cdk-overlay-container {
    .ant-dropdown {
      &.custom-select-dropdown-assignee {
        .trudi-select-dropdown-container {
          &:has(.search-container) {
            width: 268px !important;
          }

          .trudi-select-dropdown-scroll {
            cdk-virtual-scroll-viewport {
              overflow-x: hidden;
              .trudi-select-dropdown-item {
                width: 268px !important;
              }
            }
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep {
    .filter-assignee {
      .assignee-container {
        @include fontSetup(var(--fg-neutral-stronger), 14px, 20px, normal, 500);

        .assignee-no-item {
          @include fontSetup(var(--fg-neutral-weaker), 14px, 20px, italic, 400);
        }

        trudi-select-dropdown-v2,
        trudi-select-dropdown-v2 .trudi-select-dropdown-button {
          border-radius: 6px;
        }

        trudi-select-dropdown-v2 {
          .trudi-select-dropdown-button {
            background-color: var(--gray-50);
            width: 20px;
            height: 20px;
            padding: 4px;
            border: unset;

            .icon-expand {
              transition-duration: 0.5s;
            }

            &.trudi-ui-btn-selected {
              .icon-expand {
                transform: rotate(180deg);
              }
            }
          }
        }

        .assignee-count {
          width: 20px;
          height: 20px;
          background: var(--bg-brand-solid-normal);
          border-radius: 16px;
          padding: 2px 4px;

          span {
            @include fontSetup(var(--bg-base), 12px, 16px, normal, 500);
          }
        }
      }
    }
  }
}
