<trudi-modal
  *ngIf="isShowRecordVideoPopup"
  [visible]="isShowRecordVideoPopup"
  [autoFocus]="null"
  className="trudi-modal-custom">
  <app-popup-ask-record-call
    (isStartRecord)="onStartRecord($event)"></app-popup-ask-record-call>
</trudi-modal>

<ng-container *ngIf="isConnecting">
  <div class="connecting position-center-w">
    <trudi-icon class="m-auto" icon="trudiLogoText"></trudi-icon>
    <div #localTrack class="progress-bar">
      <div class="progress-item"></div>
    </div>
    <p class="text">Connecting...</p>
  </div>
</ng-container>

<ng-container *ngIf="!isConnecting && isShowDisclaimAnnouce">
  <div class="disclaim-annouce d-flex">
    <div class="disclaim-annouce-text">
      <span
        >Please read this statement to the recipient at the beginning of the
        call:
      </span>
      <span
        >This call will be recorded for our records. If you do not wish to have
        this call recorded please let me know.</span
      >
    </div>
    <button (click)="handleHideDisclaimAnnouce()">
      <trudi-icon icon="closeBtn"></trudi-icon>
    </button>
  </div>
</ng-container>

<div [ngClass]="{'display-none' : !isWaiting && !isCalling}">
  <div class="call">
    <!-- time recording announce -->
    <div
      *ngIf="timeRecorded"
      class="time-recording"
      [ngClass]="{'display-none': !isRecord || isTakePhoto || isRemoteMicChange, 'remain-15s': remain15sRecord}">
      <span class="remote-name">Remaining</span>
      <span>{{timeRecorded}}</span>
    </div>

    <!-- change mic status annouce -->
    <div
      class="local-audio position-center-w d-flex align-items-center"
      [ngClass]="{'display-none': !isMicChange, 'mouse-moving': !isMouseMoving}">
      <trudi-icon [icon]="isMicOff ? 'micOff' : 'micOn'"></trudi-icon>
      <span class="local-text">
        {{isMicOff ? 'Microphone off' : 'Microphone on'}}
      </span>
    </div>

    <!--screenshot annouce -->
    <div class="screenshot-capture" [ngClass]="{'display-none': !isTakePhoto}">
      <span class="remote-name">Screenshot captured</span>
      <trudi-icon icon="camera"></trudi-icon>
    </div>

    <div class="call-header d-flex align-items-center justify-content-center">
      <trudi-icon
        *ngIf="((availableTrack.length < 2) && isVideoCall)"
        icon="muteIcon"></trudi-icon>
      <span>
        {{receiver?.fullName}} • {{(isDefaultType ? receiverTypeOrPrimary :
        (receiverTypeOrPrimary | titlecase)) | userTypeInPT: isPTEnvironment :
        {contactType: receiver?.userPropertyContactType?.type, type:
        receiver?.type, isPrimary: receiver?.isPrimary} }}</span
      >
    </div>

    <div class="call-body">
      <div
        *ngIf="!isVideoCall"
        class="audio-call-wrapper d-flex align-items-center justify-content-center">
        <div
          class="user-card participant"
          [ngClass]="{'disabled': isWaiting}"
          [id]="lastSpeakerSID">
          <trudi-icon
            class="audio-call-mute-icon"
            *ngIf="!availableTrack.length && isCalling"
            icon="muteIcon"></trudi-icon>
          <div class="user-avatar position-center-w">
            <ng-container *ngIf="!receiver?.googleAvatar; else receiverAvtElse">
              <div [class]="'img-circle ' + receiverType ">
                <label
                  >{{ { firstName: receiver?.firstName || '', lastName:
                  receiver?.lastName || '' } | formatFullname }}</label
                >
              </div>
            </ng-container>
            <ng-template #receiverAvtElse>
              <img
                [src]="receiver?.googleAvatar"
                alt="logo"
                class="user-avatar" />
            </ng-template>
          </div>
          <span class="username"
            >{{sharedService.displayName(receiver?.firstName,
            receiver?.lastName)}}</span
          >
        </div>

        <div class="user-card local-user" [id]="lastSpeakerSID">
          <trudi-icon
            class="audio-call-mute-icon"
            *ngIf="isMicOff"
            icon="muteIcon"></trudi-icon>
          <div class="position-center-w">
            <app-user-avatar
              [avatar]="localAvt"
              [user]="{ firstName: localFirstName, lastName: localLastName }"
              [style]="'width: 120px; height: 120px; font-size: 6rem;'"></app-user-avatar>
          </div>
          <span class="username">You</span>
        </div>
      </div>

      <div
        class="video-call-wrapper"
        [ngClass]="{'display-none': !isVideoCall}">
        <div
          *ngIf="screenShotImage && isVideoCall"
          class="screenshot-image"
          [ngStyle]="{'--screenshot-width':screenShotImageDimension.width+'px','--screenshot-height': screenShotImageDimension.height+'px','--screenshot-width-small':(screenShotImageDimension.width * 0.15)+'px','--screenshot-height-small': (screenShotImageDimension.height * 0.15)+'px'}">
          <img [src]="screenShotImage" alt="" />
        </div>
        <div #remoteTrack class="remote-track"></div>
      </div>
    </div>

    <div class="call-footer d-flex align-items-center justify-content-center">
      <!-- screenshot button -->
      <button
        *ngIf="callType === callTypeEnum.videoCall || isVideoCall"
        ripple
        (click)="handleCapture()"
        [disabled]="isWaiting">
        <trudi-icon icon="screenshotIcon"></trudi-icon>
      </button>
      <!-- record button -->
      <button ripple (click)="showPopupRecord()" [disabled]="isWaiting">
        <trudi-icon
          [icon]="isRecord ? 'recordRedIcon': 'recordIcon'"></trudi-icon>
      </button>
      <!-- mute button -->
      <button id="btnChangeMic" ripple (click)="onChangeMic(track)">
        <trudi-icon
          [icon]="isMicOff ? 'muteRedIcon' : 'micOnCircle'"></trudi-icon>
      </button>
      <!-- end call button -->
      <button ripple (click)="onEndCall()">
        <trudi-icon icon="endCall"></trudi-icon>
      </button>
    </div>
  </div>
</div>
