<div class="message-row-wrapper">
  <div class="message-row-item d-flex flex-dir-column gap-8">
    <div class="d-flex align-items-center">
      <nz-skeleton
        class="avatar"
        [nzTitle]="false"
        [nzParagraph]="false"
        [nzAvatar]="true"
        [nzActive]="true"></nz-skeleton>
      <div style="width: 50%">
        <nz-skeleton [nzParagraph]="false" [nzActive]="true"></nz-skeleton>
      </div>
    </div>
    <nz-skeleton [nzParagraph]="false" [nzActive]="true"></nz-skeleton>
    <div style="width: 50%">
      <nz-skeleton [nzParagraph]="false" [nzActive]="true"></nz-skeleton>
    </div>
    <div style="width: 40%">
      <nz-skeleton [nzParagraph]="false" [nzActive]="true"></nz-skeleton>
    </div>
  </div>
  <nz-skeleton
    class="ant-skeleton-circle-left"
    [nzTitle]="false"
    [nzParagraph]="false"
    [nzAvatar]="true"
    [nzActive]="true"></nz-skeleton>
</div>
