<div class="header">
  <div class="header__left">
    <div class="title-text">Please set a secure password</div>
  </div>

  <div
    data-e2e="button-close"
    class="close-btn close-modal-btn"
    (click)="closeModal()">
    <trudi-icon
      class="trudi-icon"
      [style]="{ 'width.px': 14, 'height.px': 14, color: '#646464' }"
      icon="closeBtn"></trudi-icon>
  </div>
</div>
<div class="form-wrapper">
  <div
    [formGroup]="changePasswordForm"
    class="form-password d-flex flex-dir-column"
    autocomplete="off"
    novalidate>
    <div class="change-password-control">
      <label for="input-current-password" class="change-password-label">
        Current password
      </label>
      <div
        class="form-password-control d-flex justify-content-between"
        [ngClass]="errorControl(password, ['invalid', 'required'], 'input-error')">
        <input
          [ngClass]="showPassword.currentPassword ? 'show-password' : ''"
          [type]="showPassword.currentPassword ? 'text' : 'password'"
          class="userprofile-form-input"
          id="input-current-password"
          autocomplete="on"
          formControlName="currentPassword"
          placeholder="Enter current password" />
        <div
          class="toggle-password"
          (click)="toggleShowPassword(passwordType.CURRENTPASSWORD)">
          <trudi-icon
            *ngIf="showPassword.currentPassword; else unhideIcon"
            svgClass="size-20"
            icon="eyeShow"></trudi-icon>
          <ng-template #unhideIcon>
            <trudi-icon icon="eye" svgClass="size-20"></trudi-icon>
          </ng-template>
        </div>
      </div>
      <div
        *ngIf="isError(password, ['invalid', 'required'])"
        class="error-wrapper d-flex align-items-center">
        <trudi-icon icon="toolTipRed"></trudi-icon>
        <span class="error-text">
          {{ errorMessage(password, errorMapping.password) }}
        </span>
      </div>
    </div>

    <div class="change-password-control">
      <label for="input-new-password" class="change-password-label">
        New password
      </label>
      <div
        class="form-password-control d-flex justify-content-between"
        [ngClass]="errorControl(newPassword, ['isInValidPassword', 'required'], 'input-error')">
        <input
          [ngClass]="showPassword.newPassword ? 'show-password' : ''"
          [type]="showPassword.newPassword ? 'text' : 'password'"
          class="userprofile-form-input"
          id="input-new-password"
          autocomplete="on"
          formControlName="newPassword"
          placeholder="Enter new password" />
        <div
          class="toggle-password"
          (click)="toggleShowPassword(passwordType.NEWPASSWORD)">
          <trudi-icon
            *ngIf="showPassword.newPassword; else unhideIcon"
            svgClass="size-20"
            icon="eyeShow"></trudi-icon>
          <ng-template #unhideIcon>
            <trudi-icon icon="eye" svgClass="size-20"></trudi-icon>
          </ng-template>
        </div>
      </div>
      <div
        *ngIf="isError(newPassword, ['isInValidPassword', 'required'])"
        class="error-wrapper d-flex align-items-center">
        <trudi-icon icon="toolTipRed"></trudi-icon>
        <span class="error-text">
          {{ errorMessage(newPassword, errorMapping.newPassword) }}
        </span>
      </div>
    </div>

    <div class="change-password-control">
      <label for="input-confirm-new-password" class="change-password-label">
        Confirm new password
      </label>
      <div
        class="form-password-control d-flex justify-content-between"
        [ngClass]="errorControl(confirmPassword, ['isNotSame', 'required'], 'input-error')">
        <input
          [ngClass]="showPassword.confirmNewPassword ? 'show-password' : ''"
          [type]="showPassword.confirmNewPassword ? 'text' : 'password'"
          class="userprofile-form-input"
          id="input-confirm-new-password"
          autocomplete="on"
          formControlName="confirmNewPassword"
          placeholder="Enter new password" />
        <div
          class="toggle-password"
          (click)="toggleShowPassword(passwordType.CONFIRMNEWPASSWORD)">
          <trudi-icon
            *ngIf="showPassword.confirmNewPassword; else unhideIcon"
            icon="eyeShow"
            svgClass="size-20"></trudi-icon>
          <ng-template #unhideIcon>
            <trudi-icon icon="eye" svgClass="size-20"></trudi-icon>
          </ng-template>
        </div>
      </div>
      <div
        *ngIf="isError(confirmPassword, ['isNotSame', 'required'])"
        class="error-wrapper d-flex align-items-center">
        <trudi-icon icon="toolTipRed"></trudi-icon>
        <span class="error-text">
          {{ errorMessage(confirmPassword, errorMapping.confirmPassword) }}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="button-wrapper">
  <button trudi-btn variant="outlined" btnType="neutral" (click)="closeModal()">
    Cancel
  </button>
  <button
    [disabled]="firstTimeClickSavePassword"
    trudi-btn
    btnType="primary"
    (click)="handleChangePassword()">
    Save
  </button>
</div>
