@import 'function';

.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 16px 24px;
  border-bottom: 1px solid var(--gray-200);

  .header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .title-text {
    @include fontSetup(var(--fg-neutral-stronger), 18px, 28px, normal, 600);
  }
}
.form-wrapper {
  margin: 20px 24px;
  .form-password {
    gap: 16px;
    width: 100%;
    .change-password-control {
      .change-password-label {
        @include fontSetup(var(--gray-500), 12px, 20px, normal, 400);
      }
      .userprofile-form-input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background: var(--gray-200);
        padding: 16px 45px 16px 16px;
        border-radius: 8px;
      }

      .show-password {
        font-size: 1.4rem;
      }
      .form-password-control {
        position: relative;
        align-items: center;
        border-radius: 8px;
        height: 36px;
        width: 100%;
        padding: 8px, 12px, 8px, 12px;
        background: var(--gray-200);
        &:focus-within {
          background: var(--white);
          box-shadow: inset 0px 0px 0px 1px var(--brand-500),
            0px 0px 0px 2px rgba(var(--brand-500-rgb), 0.6);
        }
        &:focus-within .userprofile-form-input {
          background: var(--white);
          border-radius: 8px;
        }

        .toggle-password {
          position: absolute;
          top: 50%;
          right: 20px;
          cursor: pointer;
          transform: translateY(-50%);
          img {
            width: 24px;
          }
        }
      }
      .input-error {
        box-shadow: inset 0px 0px 0px 1px var(--danger-500),
          0px 0px 0px 2px rgba(var(--danger-500-rgb), 0.6) !important;
        border: 1px solid var(--danger-500);

        margin-bottom: 6px;

        input {
          background: var(--white);
        }
      }
      .error-wrapper {
        gap: 6px;
        .error-text {
          @include fontSetup(var(--danger-500), 12px, 14px, normal, 400);
        }
      }
    }
  }
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  padding: 20px 24px;
  border-top: 1px solid var(--gray-200);
}

.unclick {
  pointer-events: none;
  background-color: var(--brand-200) !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::placeholder {
  @include fontSetup(
    var(--fg-neutral-weaker, #999999),
    14px,
    20px,
    normal,
    500
  );
}
