<div class="d-flex flex-dir-column gap-60 skeleton-wrapper">
  <div class="d-flex flex-wrap gap-60">
    <div>
      <div class="accomplish-title">
        <span class="text-title">Accomplishments</span>
      </div>
      <div class="d-flex flex-wrap gap-24 accomplistment-wrapper">
        <div class="border-rad-8 data-box">
          <div class="d-flex flex-wrap">
            <div class="w-100">
              <div class="skeleton-box-content">
                <nz-skeleton
                  [nzParagraph]="{ rows: 3}"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
        </div>

        <div class="border-rad-8 data-box">
          <div class="d-flex flex-wrap">
            <div class="w-100">
              <div class="skeleton-box-content">
                <nz-skeleton
                  [nzParagraph]="{ rows: 3}"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
        </div>

        <div class="border-rad-8 data-box">
          <div class="d-flex flex-wrap">
            <div class="w-100">
              <div class="skeleton-box-content">
                <nz-skeleton
                  [nzParagraph]="{ rows: 3}"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
        </div>

        <div class="border-rad-8 data-box">
          <div class="d-flex flex-wrap">
            <div class="w-100">
              <div class="skeleton-box-content">
                <nz-skeleton
                  [nzParagraph]="{ rows: 3}"
                  [nzActive]="true"></nz-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="d-flex gap-20 align-items-center accomplish-title">
          <span class="text-title">Performance ranking</span>
        </div>
      </div>
      <div class="team_members d-flex flex-wrap gap-16 data-rank">
        <div class="d-flex gap-32 data-rank-title">
          <span class="title rank">Rank</span>
          <span class="gap-12 title name">Name</span>
          <span class="gap-12 title hours">Hours</span>
        </div>

        <div class="d-flex gap-32 flex-wrap data-rank-title">
          <span class="title rank skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span
            class="gap-12 title name skeleton-box-content skeleton-box-content-rank">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="30"></nz-skeleton-element>
            <nz-skeleton-element
              class="skeleton-element-name"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span class="gap-12 title hours skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
        </div>

        <div class="d-flex gap-32 flex-wrap data-rank-title">
          <span class="title rank skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span
            class="gap-12 title name skeleton-box-content skeleton-box-content-rank">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="30"></nz-skeleton-element>
            <nz-skeleton-element
              class="skeleton-element-name"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span class="gap-12 title hours skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
        </div>

        <div class="d-flex gap-32 flex-wrap data-rank-title">
          <span class="title rank skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span
            class="gap-12 title name skeleton-box-content skeleton-box-content-rank">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="30"></nz-skeleton-element>
            <nz-skeleton-element
              class="skeleton-element-name"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
          <span class="gap-12 title hours skeleton-box-content">
            <nz-skeleton-element
              class="skeleton-element-name skeleton-element-name-w-35"
              nzType="input"
              [nzActive]="true"></nz-skeleton-element>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex gap-20 align-items-center">
      <span class="text-title">Time savings</span>
    </div>
    <div class="time-savings-section">
      <div class="w-100 skeleton-box-content">
        <nz-skeleton [nzParagraph]="{ rows: 2}" [nzActive]="true"></nz-skeleton>
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex gap-20 align-items-center">
      <span class="text-title">Efficiency</span>
    </div>
    <div class="efficiency-section">
      <div class="w-100 skeleton-box-content">
        <nz-skeleton [nzParagraph]="{ rows: 2}" [nzActive]="true"></nz-skeleton>
      </div>
    </div>
  </div>
</div>
