@import 'function';

.shared-mailbox {
  ::ng-deep {
    ng-select.trudi-single-select .ng-select-container {
      height: 44px;
    }

    .ng-select .ng-select-container .ng-value-container .ng-placeholder {
      @include fontSetup(unset, 14px, 20px, normal, 500);
    }

    trudi-text-field .trudi-text-field-wrapper {
      display: block;
    }
  }

  ::ng-deep ng-select {
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .text-email {
      @include fontSetup(
        var(--fg-neutral-stronger) !important,
        12px,
        16px,
        normal,
        400 !important
      );
    }
    .ng-dropdown-panel
      .ng-dropdown-panel-items
      .ng-option
      .text-email
      .highlighted {
      font-size: 12px !important;
    }
  }
}

.text-title {
  @include fontSetup(
    var(--fg-neutral-normal, #646464),
    12px,
    16px,
    normal,
    400
  );
}

.owner_list {
  padding: 8px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid var(--border-neutral-light, #f2f5f7);
}
.text-name {
  @include fontSetup(
    var(--fg-neutral-strongest) !important,
    14px,
    20px,
    normal,
    500
  );
}

.text-email-label {
  @include fontSetup(
    var(--fg-neutral-normal) !important,
    14px,
    20px,
    normal,
    400
  );
}
