<resizable-modal-popup
  #resizableContainer
  id="sendMessagePopup"
  [show]="popupState.sendMessage"
  [position]="ModalPopupPosition.center"
  [appendBody]="configs.inputs.appendBody"
  [(isFullScreenModal)]="isFullScreenModal"
  [headerTemplate]="headerTemplate"
  [draggable]="true"
  [hasBackdrop]="false"
  [stopPropagation]="false"
  [resizable]="false"
  [widthInPercent]="60"
  [minWidth]="950"
  class="modal-bulk-send-msg-wrapper">
  <div
    class="h-100 d-flex send-msg-content position-relative"
    [ngClass]="{'trudi-send-msg-body-v2-full-screen': isFullScreenModal}">
    <trudi-bulk-send-msg-left
      class="d-flex flex-dir-column h-100 w-40 send-msg-left"
      [configs]="configs"
      [isSubmitted]="isSubmitted"
      [selectedTaskIds]="selectedTaskIds"
      [selectedTasks]="selectedTasks"
      [isRmEnvironment]="isRmEnvironment"
      (editConfirmRecipient)="handleEditConfirmRecipient()">
    </trudi-bulk-send-msg-left>
    <trudi-bulk-send-msg-right
      class="d-flex flex-dir-column h-100 send-msg-body-v3 w-60"
      [configs]="configs"
      [rawMsg]="configs.inputs.rawMsg"
      [openFrom]="configs.inputs.openFrom"
      [listOfFiles]="configs.inputs.listOfFiles"
      [listContactCard]="configs.inputs.listContactCard"
      [prefillVariables]="configs.inputs.prefillVariables"
      [reiformData]="configs?.inputs?.reiformData"
      (template)="setTemplate($event)"
      [listDynamicParams]="listDynamicParams"
      [selectedTaskIds]="selectedTaskIds"
      [prefillData]="configs?.inputs?.prefillData"
      [listUser]="configs?.inputs?.listUser"
      [listSenderMailBox]="listSenderMailBox"
      [isDisableSendBtn]="isDisableNextBtn
      || isConsole
      || !hasAddAccount
      || !listMailBoxs?.length
      || isDisabledSendBtn"
      [defaultSelectedSendOption]="defaultOptionDropdown"
      [scheduleDate]="scheduleDate"
      [defaultValue]="selectTimeSchedule"
      [additionalInfo]="additionalInfo"
      [isDateUnknown]="isDateUnknown"
      [dueDateTooltipText]="dueDateTooltipText"
      [selectedEvent]="configs?.body?.otherConfigs?.calendarEvent"
      [action]="configs.trudiButton?.action"
      [allowInsertContactCardToContent]="allowInsertContactCardToContent"
      (onCancel)="onCloseSendMsg()"
      (onBack)="triggerBack()"
      (submitToSendMsg)="triggerDropDownEvent($event)"
      (triggerSubmit)="isSubmitted = true"
      (typeSendMsg)="onChangeTypeSendMessage($event)"
      (selectTimeSchedule)="handleShowTimeSchedule($event)"
      #bulkSendMsgRight>
      <ng-container
        *ngIf="!configs.inputs.isSyncedAttachment"
        attachment-loading>
        <msg-attachment-load
          class="attachment-load"
          [(key)]="configs.inputs.attachmentSync.attachmentLoadKey"
          [threadIds]="configs.inputs.threadId ? [configs.inputs.threadId] : []"
          [(attachmentSynced)]="configs.inputs.isSyncedAttachment"></msg-attachment-load>
      </ng-container>
      <ng-template #footerTemplate>
        <div class="trudi-send-msg-footer">
          <ng-container
            *ngTemplateOutlet="toolbarTinyTemplate;context: toolbarTinyContext"></ng-container>
        </div>
      </ng-template>
    </trudi-bulk-send-msg-right>
  </div>
</resizable-modal-popup>

<trudi-modal
  [visible]="popupState.closeConfirm"
  [autoFocus]="null"
  className="trudi-modal-custom">
  <app-document-request-quit-confirm
    (isCloseModal)="onConfirmQuit($event)"
    [attr.data-e2e]="'cancel-confirmation-modal'">
  </app-document-request-quit-confirm>
</trudi-modal>

<trudi-add-contact-card
  *ngIf="contactCardPopupState.addContactCard"
  [visible]="contactCardPopupState.addContactCard"
  [openFrom]="configs.inputs.openFrom"
  [configs]="attachmentTextEditorConfigs"
  [listContactCard]="configs?.inputs?.listContactCard"
  [form]="sendMsgForm"
  [closable]="false"
  [selectedContactCard]="selectedContactCard"
  (onTrigger)="onTriggerAddContactCard()"
  (onClose)="onCloseAddContactCard()"></trudi-add-contact-card>

<upload-from-crm
  [configs]="attachmentTextEditorConfigs"
  (onTrigger)="onTriggerAddFilesFromCrm()"
  (onClose)="onCloseUploadFromCRM()"
  *ngIf="uploadFileFromCRMPopupState.uploadFileFromCRM"></upload-from-crm>

<div
  *ngIf="popupState.addReiForm"
  [show]="popupState.addReiForm"
  [position]="ModalPopupPosition.center">
  <trudi-rei-form-card [closable]="false"></trudi-rei-form-card>
</div>

<missing-data-modal
  [(visible)]="isShowMissingDataModal"
  [configs]="configs"
  [data]="invalidParamsMap"
  [isRmEnvironment]="isRmEnvironment"
  (editMessage)="handleCloseWarningMissingDataModal()"
  (keepSending)="handleKeepSending()"></missing-data-modal>

<!-- Header section -->
<ng-template #headerTemplate let-header="header">
  <trudi-bulk-send-msg-header
    [configs]="configs"
    [isAppUser]="configs.inputs.isAppUser">
    <ng-template #sendActionTpl>
      <ng-container
        *ngTemplateOutlet="toolbarTinySendActionTemplate; context: toolbarTinyContext ">
      </ng-container>
    </ng-template>
  </trudi-bulk-send-msg-header>
</ng-template>

<confirm-recipient-modal
  [visible]="popupState.selectRecipients"
  [hasBackBtn]="hasConfirmRecipientModalBackBtn"
  [configs]="configs"
  [isSubmitted]="isSubmitted"
  [selectedTasks]="selectedTasks"
  (back)="handleBackFromConfirm()"
  (cancel)="handleCloseFromConfirm()"
  (next)="handleNextFromConfirm()">
</confirm-recipient-modal>
