<div
  class="d-flex justify-content-end gap-5 align-items-center export-conversation">
  <button
    (click)="showModalExport()"
    [ngClass]="{
      'action-icon': !!exportConversationTooltipTitle
    }"
    [nzTooltipTitle]="exportConversationTooltipTitle"
    class="btn-action"
    nz-tooltip
    nzTooltipOverlayClassName="export-button"
    nzTooltipPlacement="topRight">
    <trudi-icon icon="exportIcon" svgClass="size-20"></trudi-icon>
  </button>
  <button
    (click)="showDeleteConfirmation()"
    [ngClass]="{
      'action-icon': !deleteTooltipTitle
    }"
    [nzTooltipTitle]="deleteTooltipTitle"
    class="btn-action"
    nz-tooltip
    nzTooltipOverlayClassName="remove-button"
    nzTooltipPlacement="topRight">
    <trudi-icon [icon]="deleteIcon"></trudi-icon>
  </button>
</div>

<trudi-modal
  [autoFocus]="null"
  [modelWidth]="510"
  [visible]="showPopupDelete"
  className="trudi-modal-custom">
  <app-popup-delete
    (onCancel)="handleCloseModalDelete()"
    (onDelete)="handleDeleteItems()"
    [title]="'Are you sure you want to delete?'">
  </app-popup-delete>
</trudi-modal>
<export-conversation-history
  (exportConversationHistory)="exportConversationHistory()"
  (visibleChange)="closeExportModal()"
  [disableExportButton]="disableExportButton"
  [visible]="visibleExportConversationModal"></export-conversation-history>
