<div
  *ngIf="
    !isLoadingDetail;
    else voicemailDetailSkeleton"
  class="voice-mail-inbox-detail"
  #voicemailInboxDetail>
  <div #headerSection class="header-section">
    <div class="info-row info-row-first">
      <ng-container
        *ngIf="!isLoadingDetailHeader; else voicemailDetailSkeletonTop">
        <div
          *ngIf="headerContact"
          nz-tooltip
          nzTooltipPlacement="bottom"
          [nzTooltipTitle]="showHeaderContactTooltip && headerContact.role ? tooltipTemplate : null"
          class="title title-contact"
          (click)="handleOpenProfileDrawer($event)">
          <div
            *ngIf="headerContact?.title"
            [style.max-width.px]="0.5 * voicemailInboxDetail?.offsetWidth"
            class="text-ellipsis">
            {{headerContact.title | phoneNumberFormat}}
          </div>
          <div class="title-contact-role" *ngIf="headerContact?.role">
            &nbsp;({{headerContact.role}})
          </div>
        </div>
        <div *ngIf="isContactVerifiedOTP" class="ml-4">
          <trudi-icon
            nz-tooltip
            nzTooltipTitle="This contact is verified via OTP during the voicemail call"
            nzTooltipPlacement="bottom"
            [nzTooltipOverlayStyle]="{ 'max-width': '180px', 'margin-top': '-5px' }"
            svgClass="size-20"
            class="icon-sync"
            icon="checkMarkFill"></trudi-icon>
        </div>
      </ng-container>

      <div class="status">
        <trudi-badge
          [variant]="currentConversation?.status === EConversationStatus.resolved ? 'success' : 'inProgress'"
          [text]="currentConversation?.status === EConversationStatus.resolved ? 'Resolved' : 'Open'"
          size="small"></trudi-badge>
      </div>
      <div class="voice-mail-actions">
        <button
          trudi-btn
          variant="outlined"
          size="small"
          btnType="neutral"
          class="voice-mail-actions-btn"
          [disabled]="isLoading || isConsole"
          [attr.data-button-key]="EButtonTask.CONVERSATION_MARK_AS_RESOLVED"
          [attr.data-button-type]="EButtonType.TASK"
          (click)="!isConsole && !isLoading && handleMenu(currentConversation?.status === EConversationStatus.resolved ? MenuOption.REOPEN : MenuOption.RESOLVE, '')">
          <trudi-icon
            svgClass="size-20"
            [icon]="currentConversation?.status !== EConversationStatus.resolved ? 'iconCheckCircleV2' : 'reopenIconOutline'"></trudi-icon
          ><span class="voice-mail-actions-btn-text"
            >{{ currentConversation?.status !== EConversationStatus.resolved ?
            'Resolve': 'Reopen'}}</span
          >
        </button>
        <button
          trudi-btn
          variant="outlined"
          size="small"
          btnType="neutral"
          shape="square"
          [selected]="voicemailDetailState.isThreeDotMenuVisible"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="threeDotMenu"
          [nzVisible]="voicemailDetailState.isThreeDotMenuVisible"
          (nzVisibleChange)="updateVoicemailDetailState('isThreeDotMenuVisible', $event)"
          class="voice-mail-actions-btn">
          <trudi-icon svgClass="size-20" icon="threeDotDetail"></trudi-icon>
        </button>
      </div>
    </div>
    <div class="info-row info-row-second">
      <ng-container
        *ngIf="!isLoadingDetailHeader; else voicemailDetailSkeletonBottom">
        @if(currentTask.property?.streetline && currentTask.property?.status !==
        EPropertyStatus.deleted) {
        <button
          trudi-btn
          btnType="neutral"
          variant="link"
          fillIcon="true"
          size="medium"
          nz-tooltip
          nzTooltipPlacement="top"
          [nzTooltipTitle]="[EPropertyStatus.archived, EPropertyStatus.inactive].includes(currentTask.property?.status) ? toolTipProperty : null"
          class="property-address"
          (click)="openPropertyProfileHandler()">
          <trudi-icon svgClass="size-16" icon="iconAddress"></trudi-icon>
          <div
            [style.max-width.px]="0.6 * headerSection?.offsetWidth"
            [class.strike-through]="[EPropertyStatus.archived, EPropertyStatus.inactive].includes(currentTask.property?.status)"
            class="text-ellipsis">
            {{currentTask.property?.streetline || 'No property'}}
          </div>
        </button>
        } @else {
        <div
          nz-tooltip
          nzTooltipPlacement="top"
          [nzTooltipTitle]="[EPropertyStatus.deleted].includes(currentTask.property?.status) ? toolTipProperty : null"
          class="property-address"
          [class.strike-through]="[EPropertyStatus.deleted].includes(currentTask.property?.status)">
          <trudi-icon svgClass="size-16" icon="iconAddress"></trudi-icon>
          <div
            [style.max-width.px]="0.6 * headerSection?.offsetWidth"
            [class.strike-through]="[EPropertyStatus.deleted].includes(currentTask.property?.status)"
            class="text-ellipsis">
            {{currentTask.property?.streetline || 'No property'}}
          </div>
        </div>
        }
      </ng-container>
      <div class="assignees ml-auto" [class.disabled]="isConsole">
        <ng-container *ngIf="isSyncInprogress else syncStatus">
          <div class="y-center gap-4">
            <trudi-icon
              svgClass="size-20 spin-syncing-v2"
              [icon]="'syncingV2'"
              class="spin-syncing-v2"
              viewBox="auto">
            </trudi-icon>
            <span class="sync">Syncing</span>
          </div>
        </ng-container>
        <assign-to-agents
          [isReadOnly]="isConsole"
          [showTrudiAgent]="true"
          [isCustom]="true"
          [maxDisplayAssignees]="3"
          [avatarSize]="24"
          titleMode="avatar"
          [task]="currentTask">
        </assign-to-agents>
      </div>
    </div>
  </div>
  <div
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollUpDistance]="0"
    [infiniteScrollDistance]="0"
    [immediateCheck]="true"
    [alwaysCallback]="true"
    (scrolledUp)="onScrolled('up')"
    (scrolled)="onScrolled('down')"
    (scroll)="checkScroll()"
    #messageSection
    class="message-section">
    @if(isFetchingOlderMessages) {
    <div class="loading-spinner loading-spinner-top">
      <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
    </div>
    }
    <div [style.padding-bottom.px]="bottomSection?.offsetHeight + 30">
      @for (group of groupedMessages; let groupIndex = $index; track
      group.timestamp) {
      <div>
        <div
          class="timestamp-badge wrap-order-day y-center"
          [class.mt-0]="groupIndex === 0">
          <div class="divider flex-1 hide-divider"></div>
          <div class="order-day timestamp">
            {{group?.timestamp | dateTimeString | async | uppercaseFirstLetter}}
          </div>
          <div class="divider flex-1 hide-divider"></div>
        </div>
        <div class="d-flex flex-dir-column gap-12">
          @for (message of group.messages; let messageIndex = $index; let last =
          $last; track message.createdAt) {
          <div class="message-item" [id]="'message-' + message.id">
            <voice-mail-inbox-detail-message
              [phoneNumber]="currentConversation?.phoneNumber || currentConversation?.secondaryPhone"
              [message]="message"></voice-mail-inbox-detail-message>
            @if(message.id === lastReadMessageId && !last) {
            <div class="red-line">
              <hr />
              <trudi-icon icon="newMessageTag"> </trudi-icon>
            </div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
    @if(isFetchingNewerMessages) {
    <div class="loading-spinner loading-spinner-bottom">
      <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
    </div>
    }
  </div>
  <div #bottomSection class="bottom-section d-flex flex-dir-column gap-12">
    @if(isViewMostRecentButtonVisible && hasScroll) {
    <button
      trudi-btn
      btnType="neutral"
      variant="outlined"
      size="extra-small"
      class="view-most-recent"
      (click)="viewMostRecentMessagesHandler(EBehaviorScroll.SMOOTH)">
      <trudi-icon icon="chevronDown" svgClass="size-16"> </trudi-icon>
      <span>View most recent</span>
    </button>
    }
    <conversation-summary
      [currentConversation]="currentConversation"
      [currentTask]="currentTask"
      [elementRefHeight]="heightMessageSession"
      (triggerCurrentConversation)="triggerCurrentConversation($event)"></conversation-summary>
    <join-conversation
      [openFrom]="EJoinConversationOpenFrom.VOICE_MAIL"></join-conversation>
  </div>
</div>

<ng-template #voicemailDetailSkeletonTop>
  <div class="mr-8">
    <nz-skeleton
      [nzTitle]="true"
      [nzParagraph]="false"
      [style.width.px]="300"
      [nzActive]="true"></nz-skeleton>
  </div>
  <nz-skeleton
    [nzTitle]="true"
    [nzParagraph]="false"
    [style.width.px]="50"
    [nzActive]="true"></nz-skeleton>
</ng-template>
<ng-template #voicemailDetailSkeletonBottom>
  <nz-skeleton
    [nzTitle]="true"
    [nzParagraph]="false"
    [style.width.px]="376"
    [nzActive]="true"></nz-skeleton>
</ng-template>

<ng-template #voicemailDetailSkeleton>
  <div class="voice-mail-inbox-detail skeleton" #voicemailInboxDetail>
    <div class="header-section">
      <div class="info-row info-row-first">
        <div class="mr-8">
          <nz-skeleton
            [nzTitle]="true"
            [nzParagraph]="false"
            [style.width.px]="300"
            [nzActive]="true"></nz-skeleton>
        </div>
        <nz-skeleton
          [nzTitle]="true"
          [nzParagraph]="false"
          [style.width.px]="50"
          [nzActive]="true"></nz-skeleton>
        <div class="voice-mail-actions">
          <ng-container *ngFor="let _ of [].constructor(4)">
            <nz-skeleton
              [nzTitle]="true"
              [nzParagraph]="false"
              [style.width.px]="32"
              [nzActive]="true"></nz-skeleton
          ></ng-container>
        </div>
      </div>
      <div class="info-row info-row-second">
        <nz-skeleton
          [nzTitle]="true"
          [nzParagraph]="false"
          [style.width.px]="376"
          [nzActive]="true"></nz-skeleton>
        <div class="assignees ml-auto">
          <nz-skeleton
            [nzTitle]="false"
            [nzParagraph]="false"
            [nzAvatar]="true"
            [nzActive]="true"></nz-skeleton>
        </div>
      </div>
    </div>
    <div
      class="message-section message-section-skeleton d-flex flex-dir-column">
      <div class="mb-12" style="align-self: end">
        <div class="text-skeleton">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
        </div>
      </div>
      <div class="mb-12">
        <div class="text-skeleton">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
        </div>
      </div>
      <div class="mb-12" style="align-self: end">
        <div class="text-skeleton">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"></nz-skeleton-element>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <nz-skeleton-element
        class="button-skeleton"
        nzType="button"
        [nzActive]="true"></nz-skeleton-element>
      <nz-skeleton-element
        class="button-skeleton mt-12"
        nzType="button"
        [nzActive]="true"></nz-skeleton-element>
    </div>
  </div>
</ng-template>

<ng-template #syncStatus>
  <div
    *ngIf="currentConversation?.syncStatus || currentConversation?.conversationSyncDocumentStatus"
    class="synced y-center gap-4"
    nz-tooltip
    nzTooltipOverlayClassName="sync-resolved"
    [nzTooltipTitle]="(currentConversation?.updatedSyncAt || currentConversation?.conversationSyncDocumentAt | formatDateTime | async)"
    nzTooltipPlacement="bottom">
    <trudi-icon
      svgClass="size-20"
      [icon]="isSyncSuccess ? 'syncSuccessCloud' : 'syncFailCloud'">
    </trudi-icon>
    <span class="sync" [class]="isSyncSuccess ? 'sync-success' : 'sync-fail'">
      {{isSyncSuccess ? 'Synced' : SYNC_PT_FAIL }}
    </span>
  </div>
</ng-template>

<confirm-properties-popup
  *ngIf="isShowModalConfirmProperties"
  [isInTaskOrMessageDetail]="true"
  [showModal]="isShowModalConfirmProperties"
  [isActionSyncConversationToRM]="isActionSyncConversationToRM"
  [listConversation]="conversationNotMove"
  (selectedPropertyInDetail)="selectedPropertyInDetail($event)"
  (quitModal)="handleCancelConfirmProperties($event)"
  (onConfirm)="handleConfirmProperties()"></confirm-properties-popup>

<nz-dropdown-menu #threeDotMenu="nzDropdownMenu">
  <div nz-menu class="shared-dropdown-menu">
    <div
      [ngClass]="{'shared-dropdown-menu-item-disabled': isConsole}"
      (click)="openReassignPropertyPopup()"
      class="shared-dropdown-menu-item">
      <trudi-icon svgClass="size-20" icon="locationReassign"></trudi-icon>
      <div>Reassign property</div>
    </div>
    <div
      class="shared-dropdown-menu-item"
      [ngClass]="{'shared-dropdown-menu-item-disabled' : isConsole || isLoading}"
      (click)="!isConsole && !isLoading && handleMenu(isReadMsg ? MenuOption.UNREAD : MenuOption.READ, 'isSeen')">
      <trudi-icon
        svgClass="size-20"
        [icon]="isReadMsg ? 'markAsUnread' : 'markAsRead'"></trudi-icon>
      <div>{{ isReadMsg ? 'Mark as unread' : 'Mark as read'}}</div>
    </div>
    <div
      *ngIf="currentConversation?.status !== 'RESOLVED'"
      class="shared-dropdown-menu-item"
      [appE2E]="isUrgent ? EDataE2EConversation.CLICK_UNFLAG : EDataE2EConversation.CLICK_FLAG"
      [ngClass]="{'shared-dropdown-menu-item-disabled' : isConsole || isLoading}"
      (click)="!isConsole && !isLoading && handleMenu(isUrgent ? MenuOption.UN_FLAG : MenuOption.FLAG, 'isUrgent')">
      <trudi-icon
        svgClass="size-20"
        [icon]="isUrgent ? 'unFlag' : 'flag'"></trudi-icon>
      <div>{{ isUrgent ? 'Unflag' : 'Flag as urgent'}}</div>
    </div>

    @if (!isRmEnvironment) {
    <div
      nz-submenu
      nzMenuClassName="sub-menu-nongap"
      [nzTitle]="exportConversation">
      <div
        nz-menu-item
        class="shared-dropdown-menu-item"
        appE2E="conversation-three-dots-save-to-pt"
        [ngClass]="{'shared-dropdown-menu-item-disabled': isConsole || isSyncInprogress}"
        (click)="!(isArchiveMailbox || isConsole) && handleMenu(MenuOption.SAVE_TO_PROPERTY_TREE, 'syncStatus')">
        <trudi-icon svgClass="size-20" icon="archive"></trudi-icon>
        <div>Save to Property Tree</div>
      </div>
      <div
        nz-menu-item
        class="shared-dropdown-menu-item"
        [ngClass]="{'shared-dropdown-menu-item-disabled': disabledDownloadPDF }"
        (click)="!disabledDownloadPDF && handleMenu(MenuOption.DOWNLOAD_AS_PDF, 'syncStatus')">
        <trudi-icon svgClass="size-20" icon="iconDownload"></trudi-icon>
        <div>Download as PDF</div>
      </div>
    </div>
    }
  </div>
</nz-dropdown-menu>

<ng-template #exportConversation>
  <div
    class="shared-dropdown-menu-item submenu-option d-flex justify-content-between align-items-center gap-8">
    <div class="d-flex align-items-center gap-8" ripple>
      <trudi-icon
        svgClass="size-20"
        viewBox="auto"
        icon="conversationExport"></trudi-icon>
      <p class="text no-margin">Export conversation history</p>
    </div>
    <trudi-icon svgClass="size-20" icon="iconChevronRight"></trudi-icon>
  </div>
</ng-template>

<trudi-modal
  *ngIf="voicemailDetailState.isShowReassignPropertyModal"
  [visible]="voicemailDetailState.isShowReassignPropertyModal"
  [autoFocus]="null"
  [modelWidth]="624"
  title="Select property"
  [hiddenCancelBtn]="true"
  (onOk)="handleConfirmUpdateProperty()"
  (onCancel)="handleCloseModal()"
  [disableOkBtn]="voicemailDetailState.isReassigningProperty"
  [dataE2E]="{ okBtn: EDataE2EReassignModal.CONFIRM_BUTTON }">
  <div [formGroup]="formSelectProperty">
    <trudi-form-control>
      <trudi-single-select
        [items]="listPropertyAllStatus"
        bindLabel="streetline"
        bindValue="id"
        label="Assign a property"
        [enableSearch]="true"
        [searchFn]="searchPeople"
        formControlName="propertyId"></trudi-single-select>
    </trudi-form-control>
  </div>
</trudi-modal>

<div
  appOutsideClickListener
  (clickOutside)="handleClickOutsideUserProfileDrawer()"
  [whiteList]="whiteListMsgDetail">
  <user-info-drawer
    [openFrom]="ETypePage.TASK_DETAIL"
    [currentDataUser]="currentDataUserProfile"
    [visible]="isUserProfileDrawerVisible"></user-info-drawer>
</div>

<ng-template #tooltipTemplate>
  {{headerContact.title}}{{headerContact?.role ? ' (' + headerContact.role + ')'
  : ''}}
</ng-template>

<info-people-popup
  *ngIf="voicemailDetailState.isShowModalPeople"
  [isShow]="voicemailDetailState.isShowModalPeople"
  (isCloseModal)="updateVoicemailDetailState('isShowModalPeople', false)"
  (isShowModalAddNote)="updateVoicemailDetailState('isShowModalAddNote', true)"
  (statusProperty)="updateVoicemailDetailState('isExpandProperty', $event)"
  [streetline]="currentConversation?.streetline"
  [propertyManager]="currentTask?.propertyManager"
  [propertyId]="currentConversation?.propertyId"
  [crmSystemId]="crmSystemId"
  [isExpandProperty]="voicemailDetailState.isExpandProperty"></info-people-popup>

<add-note-property
  *ngIf="voicemailDetailState.isShowModalAddNote"
  [isShow]="voicemailDetailState.isShowModalAddNote"
  (onCloseModalAddNote)="updateVoicemailDetailState('isShowModalPeople', true); updateVoicemailDetailState('isShowModalAddNote', false)"
  (onSubmit)="updateVoicemailDetailState('isShowModalPeople', true); updateVoicemailDetailState('isShowModalAddNote', false)"
  (onBack)="updateVoicemailDetailState('isShowModalPeople', true); updateVoicemailDetailState('isShowModalAddNote', false)"
  (statusExpandProperty)="updateVoicemailDetailState('isExpandProperty', $event)"
  [propertyId]="currentConversation?.propertyId"
  [agencyId]="currentTask?.agencyId"
  [isExpandProperty]="voicemailDetailState.isExpandProperty"></add-note-property>

<property-profile-drawer
  [visible]="visiblePropertyProfile"
  [openFrom]="ETypePage.TASK_DETAIL"
  [currentDataUser]="currentDataUserProfile"
  (triggerCloseDrawer)="visiblePropertyProfile = false"
  [propertyId]="currentTask?.property?.id">
</property-profile-drawer>

<ng-template #loadingSpinner>
  <img src="assets/images/loading-spinner.gif" />
</ng-template>
