<div
  class="contact-card gap-8"
  [ngClass]="{'archived-contact-card': (isPolicy || isAddCustomPolicy ) && contact?.status === crmStatusType.archived}"
  nz-tooltip
  [nzTooltipOverlayClassName]="'tooltip-contact-view'"
  [nzTooltipTitle]="(isPolicy || isAddCustomPolicy ) && contact?.status===crmStatusType.archived ? 'Archived' : ''">
  <div class="contact-card__header d-flex justify-content-between">
    <div class="header-content gap-4 w-100">
      <div class="d-flex justify-content-between">
        <div class="overflow-text">
          {{ ((contact?.firstName || contact?.lastName) ? ((contact?.firstName
          ?? '') + ' ' + (contact?.lastName ?? '')) : '') }}
        </div>
        <div
          data-e2e="close-btn"
          class="cursor-pointer contact-card-remove"
          (click)="onClose.emit()">
          <trudi-icon
            [style]="{ 'width.px': 16, 'height.px': 16, color: '#646464' }"
            icon="closeIcon"></trudi-icon>
        </div>
      </div>
      <trudi-badge
        [text]="getTileByType(contact)"
        [size]="'small'"
        [allowTruncated]="true"
        [variant]="getVariant(contact?.type)"></trudi-badge>
    </div>
  </div>
  <div class="contact-card__content">
    <div class="content-item d-flex gap-4">
      <div class="d-flex align-items-start mt-2">
        <trudi-icon icon="phoneThin"></trudi-icon>
      </div>
      <div
        class="d-flex align-items-center"
        [ngClass]="{ 'unknown-information': !contact?.phoneNumber }">
        <div class="overflow-text">
          {{ contact?.phoneNumber ? (contact.phoneNumber | phoneNumberFormat) :
          "(no phone number)" }}
        </div>
      </div>
    </div>
    <div
      *ngIf="contact?.type !== EUserPropertyType.SUPPLIER && contact?.type !== EUserPropertyType.LEAD"
      class="content-item d-flex gap-4">
      <div class="d-flex align-items-start mt-2">
        <trudi-icon icon="locationDotThin"></trudi-icon>
      </div>
      <div
        class="d-flex align-items-center"
        [ngClass]="{ 'unknown-information': !contact?.streetLine }">
        <div
          class="overflow-text street-line"
          nz-tooltip
          [nzTooltipTitle]="contact?.streetLine ? contact?.streetLine : 'No property'"
          [nzTooltipOverlayClassName]="'tool-tip-streetLine'"
          nzTooltipPlacement="topRight">
          {{ contact?.streetLine ? contact?.streetLine : "(no property)" }}
        </div>
      </div>
    </div>
    <div class="content-item d-flex gap-4">
      <div class="d-flex align-items-start mt-2">
        <trudi-icon
          icon="mailThin"
          [style]="{'width.px': 16, 'height.px': 16}"></trudi-icon>
      </div>
      <div
        class="d-flex align-items-center"
        [ngClass]="{ 'unknown-information': !contact?.email }">
        <div class="overflow-text">
          {{ contact?.email ? contact?.email : "(no email)" }}
        </div>
      </div>
    </div>
    <div
      *ngIf="contact?.type === EUserPropertyType.SUPPLIER"
      class="content-item d-flex gap-4">
      <div class="d-flex align-items-start mt-2">
        <trudi-icon icon="globeThin"></trudi-icon>
      </div>
      <div
        class="d-flex align-items-center flex-1 gap-4"
        [ngClass]="{ 'unknown-information' :!contact?.landingPage, 'website': contact?.landingPage }">
        <ng-container *ngIf="contact?.landingPage; else noWebsite">
          <p class="text-ellipsis">{{ contact?.landingPage }}</p>
          <trudi-icon
            class="cursor-pointer"
            (click)="handleClick(contact?.landingPage)"
            icon="moveIcon"></trudi-icon>
        </ng-container>
        <ng-template #noWebsite>(no website)</ng-template>
      </div>
    </div>
  </div>
</div>
