<div
  @toolbarAnimation
  class="save-change-wrapper"
  [ngClass]="{'input-error-shaking': isErrorShaking}"
  *ngIf="isTreeChanged">
  <div
    class="text-error"
    *ngIf="isClickSaveChange && (isInvalidDynamicParam || (hasError() | async))">
    <span
      >Unable to save. Please rectify any errors before attempting to save
      again.</span
    >
  </div>
  <div
    class="save-change-container"
    [ngClass]="{'input-error-select': isError}">
    <div class="save-change-status white-space-nowrap">Unsaved changes</div>
    <div class="save-change-action">
      <button
        data-e2e="button-save"
        trudi-btn
        [disabled]="isLoading || isEditing"
        (click)="handleSaveChanges()">
        <span class="btn-text"> Save changes </span>
      </button>
      <button
        data-e2e="button-cancel"
        trudi-btn
        variant="tonal"
        btnType="neutral"
        [disabled]="isLoading"
        (click)="handleCancelChange()">
        <span class="btn-text"> Cancel </span>
      </button>
    </div>
  </div>
</div>
