@import 'function';

.w-80 {
  width: 80px;
}

.widget-title {
  @include fontSetup(var(--fg-neutral-normal), 12px, 16px, normal, 400);
  display: flex;
  align-items: center;
}

.widget-info {
  @include fontSetup(var(--fg-neutral-stronger), 12px, 16px, normal, 500);
  max-width: calc(100% - 80px);
  flex: 1;
}

.maintenance-card-success {
  color: var(--success-500);
}

.maintenance-card-danger {
  color: var(--danger-500);
}

.maintenance-card-info {
  color: var(--info-500);
}
