@import 'function';
.submenu:focus-visible {
  background-color: var(--bg-neutral-tonal-strongest);
  border-radius: 6px;
}
:host {
  .task-sidebar-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    .task-sidebar-title {
      display: flex;
      align-items: center;
      gap: 4px;

      .title {
        @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, normal, 600);
      }

      .red-dot {
        width: 6px;
        height: 6px;
        background: var(--bg-danger-solid-normal);
        border-radius: 50%;
      }
    }

    .task-sidebar-icon {
      color: var(--fg-neutral-normal) !important;
      padding: 4px;
      background-color: transparent;
      border: none;
      border-radius: 60px;
      &:hover {
        background: var(--bg-neutral-tonal-strongest) !important;
      }
      &:focus-visible {
        padding: 2px;
        margin: 2px;
      }
    }
  }

  .no-tasks {
    height: 36px;
    padding: 0 4px 0 24px;
    display: flex;
    align-items: center;
    background-color: var(--bg-neutral-tonal-normal, #f2f5f7);

    &-text {
      @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, italic, 400);
    }
  }

  ul {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .menu-container {
    background-color: var(--white);
    .single-item {
      width: 100%;
      border-radius: 4px;
      padding: 0 !important;
      height: 32px !important;

      &::after {
        opacity: 0;
      }
      &:hover {
        color: var(--fg-neutral-strongest) !important;
        background: var(--bg-brand-tonal-stronger) !important;

        .single-item--link {
          .item.can-edit {
            .icon-wrapper {
              display: none;
            }

            .icon-more-wrapper {
              top: -2px;
              opacity: 1;
              visibility: visible;
            }

            .item-name {
              margin-left: 32px;
            }
          }
        }
      }

      &:active {
        background: var(--bg-brand-tonal-strongest);
      }

      &:not(:hover) {
        .item-icon {
          color: var(--fg-neutral-normal);
          display: block;
        }

        .icon-more-wrapper {
          opacity: 0;
          visibility: hidden;
        }
      }

      &--link {
        padding: 0 8px;
        height: 32px;

        .item-total {
          @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, normal, 500);
        }

        .item {
          position: relative;

          .icon-wrapper {
            padding: 4px;
            border-radius: 6px;
          }

          &:hover {
            color: var(--fg-neutral-strongest) !important;
          }

          .item-name {
            @include fontSetup(
              var(--fg-neutral-normal),
              14px,
              20px,
              normal,
              600
            );
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 140px;
          }

          .item-unRead {
            margin: 0 4px;
          }

          .icon-wrapper {
            .item-icon {
              color: var(--fg-neutral-normal);
              display: block;
            }
          }

          .icon-more-wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 24px;
            height: 24px;
            padding: 4px;
            border-radius: 6px;
            border: 1px solid var(--border-neutral-dark, #d8dcdf);
            background: var(--bg-base, #fff);

            &:hover {
              background: var(--bg-neutral-tonal-strongest);
            }
          }
        }
      }

      &:has(a:focus-visible) {
        border: 1px solid var(--brand-500) !important;
      }
    }
  }

  ::ng-deep .ant-menu-inline {
    & > .ant-menu-submenu > .ant-menu-submenu-title {
      width: 100% !important;
      height: 24px;
    }

    & > ul .ant-menu-item-selected,
    .item-selected {
      & > .ant-menu-submenu-title {
        margin-bottom: 0px;
      }

      .icon-wrapper {
        .item-icon {
          color: var(--fg-neutral-strongest) !important;
        }
      }

      .item-total {
        @include fontSetup(
          var(--fg-neutral-strongest) !important,
          12px,
          16px,
          normal,
          500
        );
      }

      .item-name {
        @include fontSetup(
          var(--fg-neutral-strongest) !important,
          14px,
          20px,
          normal,
          500 !important
        );
      }

      background: var(--bg-brand-tonal-stronger) !important;
    }

    & > ul .non-selected {
      background-color: transparent !important;

      .item-total {
        @include fontSetup(
          var(--fg-neutral-normal) !important,
          12px,
          16px,
          normal,
          500 !important
        );
      }

      .item-name {
        @include fontSetup(
          var(--fg-neutral-normal) !important,
          14px,
          20px,
          normal,
          500 !important
        );
      }
    }
  }

  ::ng-deep .ant-menu-item a:hover {
    color: var(--fg-neutral-strongest) !important;
  }

  ::ng-deep .ant-menu-submenu-title {
    padding: 0 0 0 40px !important;
    @include fontSetup(
      var(--fg-neutral-normal),
      14px,
      20px !important,
      normal,
      500
    );

    &:hover {
      @include fontSetup(
        var(--fg-neutral-normal),
        14px,
        20px !important,
        normal,
        500
      );
    }
  }

  ::ng-deep
    .ant-menu-submenu:hover
    > .ant-menu-submenu-title
    > .ant-menu-submenu-arrow {
    color: var(--fg-neutral-normal);
  }

  ::ng-deep
    .ant-menu-submenu-open.ant-menu-submenu-inline
    > .ant-menu-submenu-title
    > .ant-menu-submenu-arrow::before {
    top: -8px;
    rotate: 90deg;
    transform: unset;
  }

  ::ng-deep .ant-menu-submenu-arrow {
    left: 12px;
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: -8px;
      width: 20px;
      height: 20px;
      transform: unset;
      rotate: 0deg;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url('/assets/images/chevron-right.png');
    }

    &::after {
      content: none;
    }
  }
}

::ng-deep .task-folder-dropdown {
  border-radius: 8px;
  background: var(--bg-base);
  box-shadow: 0px 4px 12px 0px var(--bg-overlay-light),
    0px 8px 28px 0px rgba(0, 0, 0, 0.05);
  min-width: 160px;

  .dropdown-item {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    @include fontSetup(var(--fg-neutral-stronger), 14px, 20px, normal, 500);

    &.delete {
      @include fontSetup(var(--fg-danger), 14px, 20px, normal, 500);
    }
  }
}

:host {
  .example-custom-placeholder {
    border-radius: 4px;
    background: var(--bg-neutral-tonal-stronger, #e7eaed);
    min-height: 36px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-placeholder {
    opacity: 1;
  }
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.preview-wrapper {
  padding: 0 8px !important;
  height: 36px;
  width: 242px;
  border-radius: 4px;
  background: var(--bg-base);
  box-shadow: 0px 4px 12px 0px var(--bg-overlay-light),
    0px 8px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: grabbing;

  .icon-wrapper {
    padding: 4px;
    border-radius: 6px;

    .item-icon {
      color: var(--fg-neutral-normal);
      display: block;
    }
  }

  .item-name {
    @include fontSetup(var(--fg-neutral-normal), 14px, 20px, normal, 500);
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item-total {
    @include fontSetup(var(--fg-neutral-weaker), 12px, 16px, normal, 500);
  }
}

.prevent-click {
  pointer-events: none;
  cursor: not-allowed;
}
